// Interaction button
// 
// Button for performing a non-navigation action.
// 
// .button  - Default button
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <button class="button {$modifiers}">The quick brown fox</button>
//
// Styleguide 4.1
.button {
    background: $color-torch-red;
    border: 2px solid transparent;
    color: #FFF;
    cursor: pointer;
    font-family: 'Function Pro', sans-serif;
    font-size: $size-5;
    font-weight: 700;
    line-height: 1;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: background 0.2s, border-color 0.2s, color 0.2s;

    &:hover {
        background: transparent;
        border-color: $color-torch-red;
        color: $color-torch-red;
    }

    &:focus {
        background: transparent;
        border-color: $color-torch-red;
        color: $color-torch-red;
        text-decoration: underline;
        text-decoration-color: rgba($color-torch-red, 0.25);
    }
}

// CTA button
// 
// Inherits from interaction button (4.1), but uses an anchor element to signify this
// button is used for navigation.
// 
// .button  - Default button
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <a href="#" class="button {$modifiers}">The quick brown fox</a>
//
// Styleguide 4.2
a.button {
    display: inline-block;
    text-decoration: none;
}

// Product button
// 
// Inherits from cta button (4.2), but inverts the color and hover states
// and adds a 'splatter' image overlay and rotates by 1 degree
// 
// .product-button  - Default button
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <a href="#" class="button product-button {$modifiers}">
//      Television
//      <img src="../images/buttons/splatter-effect.png" />
// </a>
//
// Styleguide 4.3
a.button.product-button {
    -webkit-transform: rotate(0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* IE 10, Fx 16+, Op 12.1+ */
    position: relative;
    background: transparent;
    color: $color-torch-red;
    border: 2px solid $color-torch-red;
    font-weight: 800;
    padding: .5rem 1rem;
    overflow: hidden;

    img {
        position: absolute;
        top: -2px;
        left: -2px;
        max-width: 150%;
    }

    &:hover {
        background: $color-torch-red;
        color: #FFF;
    }

    &:focus {
        background: $color-torch-red;
        color: #FFF;
        text-decoration-color: rgba(#FFF, 1);
    }
}