// Link style button
// 
// default - Default
// :hover   - Hover state
// :focus   - Focus state
// .is-primary - Primary colours
// 
// markup:
// <button class="is-link {$modifiers}"><span>The quick brown fox</span><i class="fa fa-play" aria-hidden="true"></i></button>
// <button class="is-link {$modifiers}"><i class="fa fa-play" aria-hidden="true"></i><span>The quick brown fox</span></button>
//
// Styleguide 4.1
button.is-link,
a.is-link {
    background: transparent;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: rgba(0,0,0,0.25);
    font-size: $size-6;
    padding: calc(1px + (#{$baseline} / 4)) ($baseline / 2);
    margin-top: $baseline/2;
    line-height: 1;

    &.is-primary {
        background: $info;
        border: darken($info, 0.1);
        color: white !important;
        text-decoration: none;
    }

    .fa {
        font-size: inherit;
        vertical-align: baseline;
        margin-left: 1ex;
        &:first-child {
            margin-right: 1ex;
            margin-left: 0;
        }
    }

    .control & {
        margin-top: 0;
    }

    & + .is-link {
        margin-left: $baseline;
    }
}

// Interaction button
// 
// Button for performing a non-navigation action.
// 
// default  - Default
// :hover   - Hover state
// :focus   - Focus state
// .disabled - Disabled state
// .is-large - Large
// 
// markup:
// <button class="button {$modifiers}">The quick brown fox</button><br />
// <button class="button {$modifiers}">
//     <span>The quick brown fox</span>
//     <span class="icon">
//         <i class="fa fa-arrow-right" aria-hidden="true"></i>
//     </span>
// </button><br />
// <button class="button {$modifiers}">
//     <span class="icon">
//         <i class="fa fa-arrow-left" aria-hidden="true"></i>
//     </span>
//     <span>The quick brown fox</span>
// </button>
//
// Styleguide 4.2
.button {
    background: $color-torch-red;
    border: 2px solid transparent;
    color: #FFF;
    cursor: pointer;
    font-family: 'Function Pro', sans-serif;
    font-size: $size-5;
    font-weight: 700;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: background 0.2s, border-color 0.2s, color 0.2s;
    display: flex;
    align-items: center;

    &:hover {
        background: transparent;
        border-color: rgba($color-torch-red, 0.5);
        color: $color-torch-red;
    }

    &:focus {
        background: transparent;
        border-color: rgba($color-torch-red, 0.5);
        color: $color-torch-red;
        text-decoration: underline;
        text-decoration-color: rgba($color-torch-red, 0.25);
    }

    &.is-large {
        font-size: $size-3;
        .icon .fa {
            font-size: 28px;
        }
        .icon:first-child:not(:last-child) {
            margin-left: 0;
            margin-right: $baseline / 2;
        }
    
        .icon:last-child:not(:first-child) {
            margin-right: 0;
            margin-left: $baseline / 2;
        }
    }
    
    &.disabled {
        background: lightgrey;
        cursor: default;
        text-decoration: none;
        &:hover, &:focus {
            background: lightgrey;
            border-color: transparent;
            color: white;
            text-decoration: none;
        }
    }

    .icon:first-child:not(:last-child) {
        margin-left: 0;
        margin-right: $baseline / 4;
    }

    .icon:last-child:not(:first-child) {
        margin-right: 0;
        margin-left: $baseline / 4;
    }

    form & {
        font-size: $size-6;
        padding: ($baseline / 4) ($baseline / 2);
        &.is-large {
            font-size: $size-4;
            .icon .fa {
                font-size: 21px;
            }
            .icon:first-child:not(:last-child) {
                margin-right: $baseline / 4;
            }
        
            .icon:last-child:not(:first-child) {
                margin-left: $baseline / 4;
            }
        }
        .icon:first-child:not(:last-child) {
            margin-left: calc((#{$baseline} / 4) - 1px);
            margin-right: $baseline / 8;
        }
    
        .icon:last-child:not(:first-child) {
            margin-right: calc((#{$baseline} / 4) - 1px);
            margin-left: $baseline / 8;
        }
    }
}

// CTA button
// 
// Inherits from interaction button (4.1), but uses an anchor element to signify this
// button is used for navigation.
// 
// .button  - Default button
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <a href="#" class="button {$modifiers}">The quick brown fox</a>
//
// Styleguide 4.3
a.button {
    display: inline-block;
    text-decoration: none;
}

// Product button
// 
// Inherits from cta button (4.2), but inverts the color and hover states
// and adds a 'splatter' image overlay and adds a slight rotation
// 
// .product-button-1  - Variant 1
// .product-button-2 - Variant 2
// .product-button-3 - Variant 3
// .product-button-4 - Variant 4
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <a href="#" class="product-button {$modifiers}">
//      <div class="button">
//          The quick brown fox
//      </div>
// </a>
//
// Styleguide 4.4
.product-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    @include transform(rotate(1deg));

    .button {
        background: transparent;
        color: $color-torch-red;
        border: 4px solid $color-torch-red;
        font-weight: 800;
        padding: .5rem 1rem;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        background: url('#{$root}/images/buttons/splatter-effect.png');
        background-repeat: no-repeat;
        background-size: cover; 
    }

    &:hover {
        .button {
            background: $color-torch-red;
            color: #FFF;
        }
    }

    &:focus {
        .button {
            background: $color-torch-red;
            color: #FFF;
            text-decoration: underline;
            text-decoration-color: rgba(#FFF, 1);
        }
    }

    &.product-button-2 {
        @include transform(rotate(-1deg));

        &:after {
            top: auto;
            bottom: -15px;
            left: 0;
        }
    }

    &.product-button-3 {
        &:after {
            top: 0;
            left: auto;
            right: 0;
        }
    }

    &.product-button-4 {
        @include transform(rotate(-1deg));

        &:after {
            top: auto;
            left: auto;
            bottom: 0;
            right: 0;
        }
    }
}

// Icon button
// 
// .hide-text - Hidden label
// .is-large - Larger version (deprecated .large also works)
// .invert - Inverted colour
// :hover - Hover state
// :focus - Focus state
// 
// markup:
// <button class="icon-button {$modifiers}"><i class="fa fa-close" aria-hidden="true"></i>Some text</button>
//
// Styleguide 4.5
.icon-button {
    $size: 26px;
    $large: 40px;

    background: transparent;
    border: 0;
    cursor: pointer;
    // font-family: 'Function Pro', sans-serif;
    position: relative;
    padding: 0 10px 0 $size+10px;
    line-height: $size;

    .fa {
        background: #363D4E;
        border: 2px solid #363D4E;
        color: white;
        display: flex;
        height: $size;
        width: $size;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
        justify-content: center;
        font-size: 14px;
        transition: background 0.2s, color 0.2s;
        text-indent: 0;
    }

    &.large, // Deprecated
    &.is-large {
        font-size: $size-5;
        padding-left: $large+10px;
        line-height: $large;

        .fa {
            height: $large;
            width: $large;
            font-size: 24px;
        }
    }

    &.hide-text {
        padding-left: 0;
        text-indent: -1000em;
        width: $size;
        margin-right: 1ex;

        &.large {
            width: $large;
        }
    }

    &.invert {
        background: #363D4E;
        color: white;

        .fa {
            background: white;
            border: 2px solid #363D4E;
            color: #363D4E;
        }
        &:hover,
        &:focus {
            background: white;
            color: #363D4E;

            .fa {
                background: #363D4E;
                border-color: #363D4E;
                color: white;
            }
        }
    }

    &:hover,
    &:focus {
        text-decoration: underline;

        .fa {
            background: white;
            border-color: #363D4E;
            color: #363D4E;
        }
    }
}

// Intercom launcher
// 
// markup:
// <a class="contact-launcher">
//     <i class="fa fa-question" aria-hidden="true"></i>
// </a>
//
// Styleguide 4.6
.contact-launcher {
    $size: 46px;
    $border: 2px;
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $color-bright-gray;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16);
    text-align: center;
    i {
        line-height: $size - ($border * 2);
        color: white;
        font-size: $size / 2;
    }
}