// Link style button
// 
// default - Default
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <button class="is-link {$modifiers}">The quick brown fox <i class="fa fa-play" aria-hidden="true"></i></button>
//
// Styleguide 4.1
button.is-link {
    background: transparent;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: rgba(0,0,0,0.25);
    font-size: $size-6;
    padding: calc(1px + (#{$baseline} / 4)) ($baseline / 2);
    margin-top: $baseline/2;
    line-height: 1;

    .fa {
        font-size: inherit;
        vertical-align: baseline;
        margin-left: 1ex;
    }

    .control & {
        margin-top: 0;
    }
}

// Interaction button
// 
// Button for performing a non-navigation action.
// 
// default  - Default
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <button class="button {$modifiers}">The quick brown fox</button>
//
// Styleguide 4.2
.button {
    background: $color-torch-red;
    border: 2px solid transparent;
    color: #FFF;
    cursor: pointer;
    font-family: 'Function Pro', sans-serif;
    font-size: $size-5;
    font-weight: 700;
    line-height: 1;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: background 0.2s, border-color 0.2s, color 0.2s;

    &:hover {
        background: transparent;
        border-color: $color-torch-red;
        color: $color-torch-red;
    }

    &:focus {
        background: transparent;
        border-color: $color-torch-red;
        color: $color-torch-red;
        text-decoration: underline;
        text-decoration-color: rgba($color-torch-red, 0.25);
    }
    form & {
        font-size: $size-6;
        padding: ($baseline / 4) ($baseline / 2);
    }
}

// CTA button
// 
// Inherits from interaction button (4.1), but uses an anchor element to signify this
// button is used for navigation.
// 
// .button  - Default button
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <a href="#" class="button {$modifiers}">The quick brown fox</a>
//
// Styleguide 4.3
a.button {
    display: inline-block;
    text-decoration: none;
}

// Product button
// 
// Inherits from cta button (4.2), but inverts the color and hover states
// and adds a 'splatter' image overlay and adds a slight rotation
// 
// .product-button-1  - Variant 1
// .product-button-2 - Variant 2
// .product-button-3 - Variant 3
// .product-button-4 - Variant 4
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <a href="#" class="product-button {$modifiers}">
//      <div class="button">
//          The quick brown fox
//      </div>
// </a>
//
// Styleguide 4.4
.product-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    @include transform(rotate(1deg));

    .button {
        background: transparent;
        color: $color-torch-red;
        border: 4px solid $color-torch-red;
        font-weight: 800;
        padding: .5rem 1rem;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        background: url('#{$root}/images/buttons/splatter-effect.png');
        background-repeat: no-repeat;
        background-size: cover; 
    }

    &:hover {
        .button {
            background: $color-torch-red;
            color: #FFF;
        }
    }

    &:focus {
        .button {
            background: $color-torch-red;
            color: #FFF;
            text-decoration: underline;
            text-decoration-color: rgba(#FFF, 1);
        }
    }

    &.product-button-2 {
        @include transform(rotate(-1deg));

        &:after {
            top: auto;
            bottom: -15px;
            left: 0;
        }
    }

    &.product-button-3 {
        &:after {
            top: 0;
            left: auto;
            right: 0;
        }
    }

    &.product-button-4 {
        @include transform(rotate(-1deg));

        &:after {
            top: auto;
            left: auto;
            bottom: 0;
            right: 0;
        }
    }
}

// Icon button
// 
// .fa-info - More information
// .fa-plus - Add
// .fa-play - Play
// .fa-close - Close
// .hide-text - Hidden label
// .large - Larger version
// .invert - Inverted colour
// :hover - Hover state
// :focus - Focus state
// 
// markup:
// <button class="icon-button {$modifiers}">Some text</button>
//
// Styleguide 4.5
.icon-button {
    $size: 26px;
    $large: 40px;

    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: 'Function Pro', sans-serif;
    position: relative;
    padding: 0 10px 0 $size+10px;
    line-height: $size;

    &:before {
        background: grey;
        border: 2px solid grey;
        color: white;
        content: 'v';
        display: flex;
        height: $size;
        width: $size;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
        justify-content: center;
        font-size: 14px;
        transition: background 0.2s, color 0.2s;
        text-indent: 0;
        @extend .fa;
    }

    &.large {
        font-size: $size-5;
        padding-left: $large+10px;
        line-height: $large;

        &:before {
            height: $large;
            width: $large;
            font-size: 24px;
        }
    }

    &.hide-text {
        padding-left: 0;
        text-indent: -1000em;
        width: $size;
        margin-right: 1ex;

        &.large {
            width: $large;
        }
    }

    &.invert {
        background: grey;
        color: white;

        &:before {
            background: white;
            border: 2px solid white;
            color: grey;
        }
    }

    &.fa-info:before {
        @extend .fa-info;
    }

    &.fa-plus:before {
        @extend .fa-plus;
    }

    &.fa-play:before {
        @extend .fa-play;
    }

    &.fa-close:before {
        @extend .fa-window-close;
    }

    &:hover,
    &:focus {
        text-decoration: underline;

        &:before {
            background: transparent;
            border-color: white;
        }
    }
}