// Feature Quote
// 
// .default  - Default button
// .large    - Large
// 
// markup:
// <blockquote class="feature-quote {$modifiers}">
//     <p>Pure Gold</p>
//     <cite>Tim Brothers</cite>
// </blockquote>
//
// Styleguide 5.1
.feature-quote {
    display: inline-block;
    text-align: center;

    p {
        font-family: 'Function Pro', sans-serif;
        font-size: $size-2;
        font-style: italic;
        font-weight: 700;
        line-height: 1;
    }

    cite {
        font-family: 'Function Pro', sans-serif;
        font-size: $size-6;
        font-style: normal;
        line-height: 1;
        opacity: 0.75;
    }

    &.large {
        p {
            font-size: $size-2 * 2;
        }

        cite {
            font-size: $size-5 * 2;
        }
    }
}