// Feature Quote
// 
// .default  - Default button
// .large    - Large
// 
// markup:
// <blockquote class="feature-quote {$modifiers}">
//     <div class="icons">
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//     </div>
//     <p>Pure Gold</p>
//     <cite>Tim Brothers</cite>
// </blockquote>
//
// Styleguide 5.1
.feature-quote {
    display: inline-block;
    text-align: center;

    .icons * {
        display: inline-block;
    }

    .icon-star {
        width: 0.5rem;
        path {
            fill: $color-torch-red;
        }
    }

    p {
        font-family: 'Function Pro', sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 700;
        line-height: 1;
        margin: 0.25rem 0;
    }

    cite {
        font-family: 'Function Pro', sans-serif;
        font-size: 0.75rem;
        font-style: normal;
        line-height: 1;
        opacity: 0.75;
    }

    &.large {
        p {
            font-size: 3rem;
        }

        cite {
            font-size: 1.75rem;
        }

        .icon-star {
            width: 1.5rem;
        }
    }
}

// Content Tile
//
// :hover - hover state
// 
// markup:
// <div class="columns">
//     <article class="column content-tile">
//         <a href="#" class="{$modifiers}">
//             <div class="image">
//                 <img src="http://lorempixel.com/320/180/people"  />
//                 <div class="spinner-container">
//                     <div class="spinner"></div>
//                 </div>
//             </div>
//             <div class="content">
//                 <div class="title">
//                     <div class="subheading">
//                         <div class="is-pulled-left">Think Piece</div>
//                         <div class="is-pulled-right">36:00</div>
//                     </div>
//                     <h1>Looking Under the Hood Australia</h1>
//                     <div class="buttons">
//                         <button class="icon-button fa-info hide-text">More Information</button>
//                         <button class="icon-button fa-plus hide-text">Add to My List</button>
//                     </div>
//                 </div>
//                 <div class="theme">Insight</div>
//                 <blockquote>
//                     Go you good thing Thats the best rant I've heard for a short while.
//                     <cite>Mark M.</cite>
//                 </blockquote>
//                 <div class="icon"></div>
//             </div>
//         </a>
//     </article>
//     <article class="column content-tile loading">
//         <div class="image">
//             <div class="spinner-container">
//                 <div class="spinner"></div>
//             </div>
//         </div>
//     </article>
//     <article class="column content-tile">
//         <a href="#">
//             <div class="image">
//                 <img src="http://lorempixel.com/320/180/abstract"  />
//                 <div class="spinner-container">
//                     <div class="spinner"></div>
//                 </div>
//             </div>
//             <div class="content">
//                 <div class="title">
//                     <div class="progress" style="width: 75%">You've watched 75%</div>
//                     <div class="subheading">
//                         <div class="is-pulled-left">Think Piece</div>
//                         <div class="is-pulled-right">1:15:00</div>
//                     </div>
//                     <h1>Quantitative Insight with a Discretionary Edge - Richard Excell</h1>
//                     <div class="buttons">
//                         <button class="icon-button fa-info hide-text">More Information</button>
//                     </div>
//                 </div>
//                 <div class="theme">Insight</div>
//                 <blockquote>
//                     Go you good thing Thats the best rant I've heard for a short while.
//                     <cite>Mark M.</cite>
//                 </blockquote>
//                 <div class="icon"></div>
//             </div>
//         </a>
//     </article>
// </div>
//
// Styleguide 5.2
.content-tile {
    $padding: 0.75rem;
    $transition-in-speed: 0.2s;
    $transition-out-speed: 0.5s;
    $transition-out-delay: 0.5s;

    overflow: hidden;
    position: relative;

    &:before {
        display: block;
        content: '';
        width: 100%;
    }

    .spinner-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .buttons {
        margin-top: 0;
        max-height: 0;
        transition: max-height $transition-out-speed, margin-top $transition-out-speed;
        transition-delay: $transition-out-delay;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: $padding;
        z-index: 1;
    }

    .image {
        background: lightgrey;
        height: 0;
        padding-bottom: 2 / 3 * 100%;
        &:after {
            background: rgba(0, 0, 0, 0.5);
            content: "";
            display: block;
            position: absolute;
            top: $padding;
            bottom: $padding;
            left: $padding;
            right: $padding;
            opacity: 0;
            transition: opacity 0.52s;
            transition-delay: $transition-out-delay;
            z-index: 1;
        }
    }

    img {
        position: relative;
        transition: opacity 0.2s;
        width: 100%;
        z-index: 1;
    }

    img[data-src] {
        opacity: 0;
    }

    .title {
        background: #fff;
        position: absolute;
        bottom: $padding;
        left: $padding;
        padding-top: 3px;
        padding-right: 6px;
        width: calc(70% - #{$padding});
    }

    .progress {
        background-color: $color-torch-red;
        font-size: 0;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
    }

    h1 {
        font-size: $size-5;
        font-weight: 800;
        margin: 0;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
    .subheading {
        overflow: hidden;
        text-transform: uppercase;
        font-size: $size-7;
    }

    .theme {
        background: grey;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        bottom: $padding;
        right: $padding;
        width: calc(30% - #{$padding});
        text-align: center;
        font-family: 'Function Pro';
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    blockquote {
        color: #fff;
        font-size: $size-7;
        margin: $padding;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        opacity: 0;
        transition: opacity $transition-out-speed;
        transition-delay: $transition-out-delay;
        cite {
            display: block;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            font-style: normal;
            text-transform: uppercase;
            margin-top: 5px;
            padding-top: 5px;
        }
    }

    .icon {
        position: absolute;
        right: 0;
        bottom: calc(15% + 1.75rem);
        width: 30%;
        opacity: 0;
        transition: opacity $transition-out-speed;
        transition-delay: $transition-out-delay;

        &:after {
            border-top: 20px solid transparent;
            border-left: 30px solid #fff;
            border-bottom: 20px solid transparent;
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin: 0 auto;
        }
    }

    a {
        color: $text;
        &:hover,
        &:focus {
            blockquote,
            .icon,
            .image:after {
                opacity: 1;
                transition-duration: $transition-in-speed;
                transition-delay: 0s;
            }
            .buttons {
                margin-top: $padding;
                max-height: 50px;
                transition-duration: $transition-in-speed;
                transition-delay: 0s;
            }
        }
    }
}

// Content Tile - Double Height List
// 
// A content tile at double height. Contains a list of up to 4 things. Each item
// in the list is cropped to 2 lines of text.
// 
// :hover - hover state
// 
// markup:
// <div class="columns">
//     <article class="column content-tile double {$modifiers}">
//         <div class="image">
//             <img src="http://lorempixel.com/332/455/people"  />
//         </div>
//         <div class="content">
//             <ol>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 </ol>
//             <a class="button" href="#">See all 40 videos</a>
//         </div>
//     </article>
//     <article class="column content-tile double">
//         <div class="image">
//             <img src="http://lorempixel.com/332/455/city"  />
//         </div>
//         <div class="content">
//             <ol>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 </ol>
//             <a class="button" href="#">See all 40 videos</a>
//         </div>
//     </article>
//     <article class="column content-tile double">
//         <div class="image">
//             <img src="http://lorempixel.com/332/455/abstract"  />
//         </div>
//         <div class="content">
//             <ol>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 </ol>
//             <a class="button" href="#">See all 40 videos</a>
//         </div>
//     </article>
// </div>
// 
// Styleguide 5.3
.content-tile.double {
    $transition-in-speed: 0.2s;
    $transition-out-speed: 0.5s;
    $transition-out-delay: 0.5s;

    margin: 0;

    .image {
        height: auto;
        padding-bottom: 0;
        overflow: hidden;

        img {
            display: block;
            height: 100%;
            width: auto;
            transition: filter $transition-out-speed, transform $transition-out-speed;
            transition-delay: $transition-out-delay;
        }
    }

    .badge {
        background: grey;
        color: white;
        display: inline-block;
        margin: 0 2ex;
        padding: 4px 10px 2px;
        text-transform: uppercase;
        font-size: 0.5rem;
        font-family: 'Function Pro', sans-serif;
        vertical-align: text-top;
    }

    .content {
        background: rgba(0,0,0,0.5);
        margin: 0.75rem;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);
        transition: transform $transition-out-speed;
        transition-delay: $transition-out-delay;

        ol {
            counter-reset: content-tile-counter;
            list-style: none;
            margin-left: 0;
            flex-grow: 1;
        }

        li {
            position: relative;

            &:before {
                content: counter(content-tile-counter);
                counter-increment: content-tile-counter;
                background: grey;
                color: white;
                display: inline-block;
                width: 24px;
                height: 24px;
                text-align: center;
                line-height: 24px;
                font-family: 'Function Pro', sans-serif;
                font-weight: 700;
                left: 0;
                top: 4px;
                position: absolute;
            }
        }

        li+li {
            margin-top: $baseline;
        }

        li a {
            color: white;
            display: block;
            margin-left: calc(0.75rem + 24px);
            font-size: $size-5;
            font-weight: 700;
            text-decoration: none;

            .meta {
                font-size: $size-7;
                font-weight: 400;
                text-transform: uppercase;
            }

            .item {
                height: 2.4em;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
            }

            &:hover {
                text-decoration: underline;
                text-decoration-skip: ink;
                text-decoration-color: rgba(white, 0.5);
            }
        }

        .button {
            color: white;
            text-align: center;
            width: 100%;

            &:hover {
                color: $color-torch-red;
            }

            &:focus {
                color: $color-torch-red;
            }
        }
    }

    &:hover,
    &:focus {
        img {
            filter: blur(10px);
            transform: scale(1.05);
            transition: filter $transition-in-speed, transform $transition-in-speed;
            transition-delay: 0s;
        }
        .content {
            transform: translateY(0);
            transition: transform $transition-in-speed;
            transition-delay: 0s;
        }
    }
}

// Hero Image
// 
// A large (optional) clickable hero image.
// 
// markup:
// <div class="hero-image">
//     <a>
//         <img src="http://via.placeholder.com/1600x900" alt="" />
//     </a>
// </div>
//
// Styleguide 5.4
.hero-image {
    img {
        display: block;
    }
}

// Hero Image with CTA
// 
// A large hero image with text and a CTA button. Full page width.
// 
// markup:
// <div class="hero-image-w-cta">
//     <div class="image" style="background-image: url('http://via.placeholder.com/1600x900')"></div>
//     <div class="container">
//         <p class="column is-half">Vestibulum sed varius urna, ut tempus arcu. Aenean vel velit neque. Phasellus convallis placerat purus vitae tempus. Donec cursus magna non euismod aliquet.</p>
//         <a class="button" href="#">Click here</a>
//     </div>
// </div>
//
// Styleguide 5.5
.hero-image-w-cta {
    position: relative;

    .image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: 50%;
    }

    .container {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }

    p {
        color: #fff;
        font-family: Stampete;
        font-size: $size-1;
        line-height: $size-1;
        margin-bottom: $size-1 * 2;
        padding: 0;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
}

// Navigation
//
// markup:
// <div class="navigation">
//     <div class="columns">
//         <h1 class="column is-narrow"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="logo_generic" viewBox="30 0 444 170.3"><path class="logo_generic--text" d="M320.7 0c-1.5 3.1-3 6.2-4.5 9.2-5.4 11.1-73.2 150.3-78.1 160.3l-.4.8-.4-.7L155.5 0h41.3s41.1 89.1 41.3 89.2C238.2 89.1 279.2.3 279 0h41.7zm153.1 101.1h-1l-26.4-28.4v27.5h-4.6V62.5h1.2l.4.4 25.5 27.3s.2.2.4.2h.1s.1 0 .1-.1v-27h4.5l-.2 37.8zM30 63.1s7.2 0 10.4.1c1.6 0 3.2.2 4.7.8 3.2 1.2 5 3.6 5.5 6.9.3 1.8.2 3.6-.4 5.4-1.1 3.3-3.3 5.4-6.7 6.2-.3.1-.9.3-1.8.5-.1 0 10.2 17.2 10.2 17.2h-5.4l-9.7-16.9h-2v17H30V63.1zm4.8 16.1c2.5 0 4.9 0 7.2-.5 1.7-.4 2.9-1.4 3.5-3 .6-1.3.6-2.7.4-4.1-.4-2-1.6-3.3-3.5-3.9-.6-.2-1.2-.3-1.8-.3-1.7-.1-3.4-.1-5.2-.1h-.6v11.9zm95.5 21h-.7L125 89.6h-13.8c-1.5 3.5-3 7.1-4.5 10.6h-5c3.8-8.8 15.6-36.4 16.4-37.9 0 0 .1-.1.2-.1h.1c.2.2.3.5.5.8l15.8 37.2m-11.4-14.7c-1.8-4.3-3.3-8.5-5.1-12.8-1.8 4.4-3.5 8.6-5.3 12.8h10.4zM72.5 78h14.4v4.1H72.6l-.1 13.7h14.7v4.2l-19.4.1-.1-36.8H87v4.3H72.6L72.5 78zm81.7 17.9H166v4.3h-16.5V63.3h4.6l.1 32.6zm252.2 4.9c-5 0-9.5-1.6-13.2-5.1-2.5-2.4-4.2-5.2-5.1-8.6-1.3-4.9-1-9.7 1.2-14.2 2.5-5.1 6.6-8.4 12.1-9.8 4.1-1.1 8.2-1 12.1.4 6 2.1 10 6.3 11.7 12.4 1.9 6.9.5 13.2-4.3 18.6-3 3.4-6.9 5.3-11.4 6-1 .3-2.1.4-3.1.3zm-.1-4.4c.7 0 1.4-.1 2.1-.1.4 0 .9-.1 1.3-.2 4.9-1.1 8.4-3.9 10.3-8.6 1.2-3 1.4-6.1.8-9.2-.5-2.5-1.5-4.8-3.2-6.7-3.1-3.3-6.9-4.8-11.4-4.6-5.7.2-9.9 2.9-12.4 8.1-1.9 3.9-1.9 8-.5 12.1 1.9 5.6 7 9.3 13 9.2zM330.6 93l4.1-1.9s.2.5.4.8c.4.9.8 1.9 1.5 2.7 1.5 2 3.8 2.5 5.9 1.9 2.1-.5 3.6-2.4 3.9-4.7.4-2.7-.5-4.9-2.8-6.4-1.1-.7-2.1-1.4-3.3-2-1.6-.8-3.2-1.8-4.6-2.9-2.6-2-3.9-4.6-3.9-7.9 0-2.4.5-4.6 2-6.6 2.1-2.7 5-3.7 8.3-3.4 4 .3 6.7 2.5 8.5 6l.1.2-3.7 2.1s-.6-.8-.8-1.2c-.9-1.3-1.9-2.4-3.5-2.8-2.7-.7-5.4.8-6.2 3.5-.7 2.7 0 4.7 2.1 6.4 1.3 1 2.7 1.7 4.1 2.5 1.4.8 2.7 1.5 4 2.5 5.8 4.2 5.4 13.1.2 17-4.9 3.8-12.4 2.1-15.3-3.3-.4-.7-.6-1.4-.9-2.1.1-.1-.1-.4-.1-.4zm-19.8-29.8h4.6v37h-4.6zm56.2 0h4.6v37H367z"/></svg></a></h1>
//         <ul class="column">
//             <li><a href="#">Link 1</a></li>
//             <li><a href="#">Link 2</a></li>
//             <li><a href="#">Link 3</a></li>
//         </ul>
//         <div class="column is-narrow">
//             <a class="user" href="#">Login</a>
//         </div>
//     </div>
// </div>
// 
// Styleguide 5.6
.navigation {
    background: rgba(0, 0, 0, 0.5);
    padding: 0.75rem;

    svg {
        display: block;
        height: 44px;

        path {
            fill: #fff;
        }
    }

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: inline-block;
        margin: 0 1.5rem;
        font-size: $size-6;
    }

    a {
        color: #fff;
        font-family: 'Function Pro', sans-serif;
        line-height: 44px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .user {
        background: $color-torch-red;
        display: block;
        height: 44px;
        width: 44px;
        font-size: $size-7;
        font-weight: 700;
        text-align: center;
    }
}

// Spinner
//
// markup:
// <div class="spinner"></div>
// 
// Styleguide 5.7
.spinner {
    border: 1px solid grey;
    border-top-color: transparent;
    border-radius: 50%;
    position: relative;
    animation: spinner-rotate 1s linear infinite;
    margin: 0 auto;
    top: 50%;

    width: $baseline * 2;
    height: $baseline * 2;
    border-width: $baseline / 3;
}

@keyframes spinner-rotate {
    0% {
        @include transform(rotate(0));
    }
    100% {
        @include transform(rotate(360deg));
    }
}