// Content Tile
//
// :hover - hover state
//
// markup:
// <div class="columns">
//     <article class="column content-tile">
//         <a href="#" class="{$modifiers}">
//             <div class="image">
//                 <img src="http://lorempixel.com/320/180/people"  />
//                 <div class="spinner-container">
//                     <div class="spinner"></div>
//                 </div>
//             </div>
//             <div class="content">
//                 <div class="title">
//                     <div class="subheading">
//                         <div class="is-pulled-left">Think Piece</div>
//                         <div class="is-pulled-right">36:00</div>
//                     </div>
//                     <h1>Looking Under the Hood Australia</h1>
//                     <div class="buttons">
//                         <button class="icon-button hide-text"><i class="fa fa-info" aria-hidden="true"></i>More Information</button>
//                         <button class="icon-button hide-text"><i class="fa fa-plus" aria-hidden="true"></i>Add to My List</button>
//                     </div>
//                 </div>
//                 <div class="theme">Insight</div>
//                 <blockquote>
//                     Go you good thing Thats the best rant I've heard for a short while.
//                     <cite>Mark M.</cite>
//                 </blockquote>
//                 <div class="icon"><i class="fa fa-play" aria-hidden="true"></i></div>
//             </div>
//         </a>
//     </article>
//     <article class="column content-tile loading">
//         <div class="image"></div>
//     </article>
//     <article class="column content-tile watched">
//         <a href="#">
//             <div class="image">
//                 <img src="http://lorempixel.com/320/180/abstract"  />
//                 <div class="spinner-container">
//                     <div class="spinner"></div>
//                 </div>
//             </div>
//             <div class="content">
//                 <div class="title">
//                     <div class="progress">You've watched 75%<div class="bar" style="width: 75%"></div></div>
//                     <div class="subheading">
//                         <div class="is-pulled-left">Think Piece</div>
//                         <div class="is-pulled-right">1:15:00</div>
//                     </div>
//                     <h1>Quantitative Insight with a Discretionary Edge - Richard Excell</h1>
//                     <div class="buttons">
//                         <button class="icon-button hide-text"><i class="fa fa-info" aria-hidden="true"></i>More Information</button>
//                     </div>
//                 </div>
//                 <div class="theme">Watched</div>
//                 <blockquote>
//                     Go you good thing Thats the best rant I've heard for a short while.
//                     <cite>Mark M.</cite>
//                 </blockquote>
//                 <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
//             </div>
//         </a>
//     </article>
//     <article class="column content-tile">
//         <a href="#">
//             <div class="image">
//                 <img src="http://lorempixel.com/320/180/people"  />
//                 <div class="spinner-container">
//                     <div class="spinner"></div>
//                 </div>
//             </div>
//             <div class="content">
//                 <div class="title">
//                     <div class="subheading">
//                         <div class="is-pulled-left">Think Piece</div>
//                         <div class="is-pulled-right">36:00</div>
//                     </div>
//                     <h1>Looking Under the Hood Australia</h1>
//                     <div class="buttons">
//                         <button class="icon-button hide-text"><i class="fa fa-info" aria-hidden="true"></i>More Information</button>
//                         <button class="icon-button hide-text"><i class="fa fa-plus" aria-hidden="true"></i>Add to My List</button>
//                     </div>
//                 </div>
//                 <div class="theme">Insight</div>
//                 <blockquote>
//                     Go you good thing Thats the best rant I've heard for a short while.
//                     <cite>Mark M.</cite>
//                 </blockquote>
//                 <div class="icon"><i class="fa fa-play" aria-hidden="true"></i></div>
//             </div>
//         </a>
//     </article>
// </div>
//
// Styleguide 6.1
.content-tile {
    $padding: 0.75rem;
    $transition-in-speed: 0.2s;
    $transition-out-speed: 0.5s;
    $transition-out-delay: 0.5s;


    @keyframes loading {
        to {
            background-position: 200% 0, 0 0, 0 0, 0 0;
        }
    }

    overflow: hidden;
    position: relative;

    &:before {
        display: block;
        content: '';
        width: 100%;
    }

    &.loading {
        background-image:
            linear-gradient(90deg, transparent 0%, rgba(lightgray, 0.5) 50%, transparent 100%),
            linear-gradient(transparent 0, lightgray 0),
            linear-gradient(transparent 0, white 0),
            linear-gradient(lightgray 100%, transparent 0)
        ;
        background-repeat: no-repeat;
        background-size: 200px 100%, 100% 60%, 66% 100%, 100% 100%;
        background-position: -150% 0, 0 0, 0 0, 0 0;
        animation: loading 1.5s infinite;

        .image {
            background: transparent;
        }
    }

    .buttons {
        margin-top: 0;
        max-height: 0;
        transition: max-height $transition-out-speed, margin-top $transition-out-speed;
        transition-delay: $transition-out-delay;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: $padding;
        z-index: 1;
    }

    .image {
        background: lightgray;
        height: 0;
        padding-bottom: 2 / 3 * 100%;
        overflow: hidden;
        &:after {
            background: rgba(0, 0, 0, 0.5);
            content: "";
            display: block;
            position: absolute;
            top: $padding;
            bottom: $padding;
            left: $padding;
            right: $padding;
            opacity: 0;
            transition: opacity 0.52s;
            transition-delay: $transition-out-delay;
            z-index: 1;
        }

        &.is-6by5 {
            background: radial-gradient(circle at 50% 75%, lighten(#3b4249, 20%), #3b4249);
            padding-bottom: 6 / 5 * 100%;
            img {
                bottom: 0;
                position: absolute;
            }
        }
    }

    &.column {
        .image:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    img {
        position: relative;
        transition: opacity 0.2s;
        width: 100%;
        z-index: 1;
    }

    img[data-src] {
        opacity: 0;
    }

    .title {
        background: #fff;
        position: absolute;
        bottom: $padding;
        left: $padding;
        padding-top: 5px;
        padding-right: 6px;
        width: calc(70% - #{$padding});
        overflow: hidden;
    }

    .progress {
        background-color: $color-dark-gray;
        font-size: 0;
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .bar {
            background: $brand;
            height: 2px;
            margin-top: 1px;
            width: 0;
        }
    }

    h1 {
        font-size: $size-5;
        font-weight: 800;
        margin: 0;
        position: relative;
        max-height: 3em;
        overflow: hidden;

        &:after {
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            height: 1.2em;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
        }
    }
    @supports (-webkit-line-clamp: 3) {
        h1 {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
            max-height: none;

            &:after {
                display: none;
            }
        }
    }
    .subheading {
        overflow: hidden;
        text-transform: uppercase;
        font-size: $size-7;
    }

    .theme {
        background: $color-dark-gray;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        bottom: $padding;
        right: $padding;
        width: calc(30% - #{$padding});
        text-align: center;
        height: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: $size-7;
    }

    blockquote,
    .summary {
        color: #fff;
        font-size: $size-6;
        line-height: 1.2;
        margin: $padding;
        opacity: 0;
        transition: opacity $transition-out-speed;
        transition-delay: $transition-out-delay;
        position: relative;
        max-height: 3.6em;
        overflow: hidden;

        cite {
            display: block;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            font-style: normal;
            text-transform: uppercase;
            margin-top: 5px;
            padding-top: 5px;
        }

        @supports (-webkit-line-clamp: 3) {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
            max-height: none;
        }
    }

    .icon {
        color: white;
        position: absolute;
        right: $baseline / 2;
        bottom: calc(20% + 1.75rem);
        width: calc(30% - #{$baseline / 2});
        opacity: 0;
        transition: opacity $transition-out-speed;
        transition-delay: $transition-out-delay;

        .fa {
            font-size: 3rem;
        }
    }

    a {
        color: $text;
        &:hover,
        &:focus {
            blockquote,
            .summary,
            .icon,
            .image:after {
                opacity: 1;
                transition-duration: $transition-in-speed;
                transition-delay: 0s;
            }
            .buttons {
                margin-top: $padding;
                max-height: 50px;
                transition-duration: $transition-in-speed;
                transition-delay: 0s;
            }
        }
    }

    &__listing {
        .image{
            padding-bottom:0;
        }

        .subheading .fa {
            font-size: 13px;
            line-height: 17px;
        }

        .button {
            padding: 0 $baseline/2;
            display: inline-block;
            background: $text;
            color: #fff;
            font-size: 1rem;

            &:hover {
                color: $text;
                border-color: $text;
                background: #fff;
            }
        }
    }

    &.watched {
        .theme {
            color: $brand;
            font-weight: 700;
        }
    }
}

// Content Tile - Double Height List
//
// A content tile at double height. Contains a list of up to 4 things. Each item
// in the list is cropped to 2 lines of text.
//
// :hover - hover state
//
// markup:
// <div class="columns">
//     <article class="column content-tile double {$modifiers}">
//         <div class="image">
//             <img src="http://lorempixel.com/332/455/people"  />
//         </div>
//         <div class="content">
//             <ol>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 </ol>
//             <a class="button" href="#">See all 40 videos</a>
//         </div>
//     </article>
//     <article class="column content-tile double">
//         <div class="image">
//             <img src="http://lorempixel.com/332/455/city"  />
//         </div>
//         <div class="content">
//             <ol>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 </ol>
//             <a class="button" href="#">See all 40 videos</a>
//         </div>
//     </article>
//     <article class="column content-tile double">
//         <div class="image">
//             <img src="http://lorempixel.com/332/455/abstract"  />
//         </div>
//         <div class="content">
//             <ol>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 <li><a href="#"><div class="meta">29th Aug 2017 <span class="badge">Insights</span></div><div class="item">Suspendisse in arcu mattis, porta mi nec</div></a></li>
//                 </ol>
//             <a class="button" href="#">See all 40 videos</a>
//         </div>
//     </article>
// </div>
//
// Styleguide 6.2
.content-tile.double {
    $transition-in-speed: 0.2s;
    $transition-out-speed: 0.5s;
    $transition-out-delay: 0.5s;

    margin: 0;

    .image {
        height: auto;
        padding-bottom: 0;
        overflow: hidden;

        img {
            display: block;
            height: 100%;
            width: auto;
            transition: filter $transition-out-speed, transform $transition-out-speed;
            transition-delay: $transition-out-delay;
        }
    }

    .badge {
        background: grey;
        color: white;
        display: inline-block;
        margin: 0 2ex;
        padding: 4px 10px 2px;
        text-transform: uppercase;
        font-size: 0.5rem;
        font-family: 'Function Pro', sans-serif;
        vertical-align: text-top;
    }

    .content {
        background: rgba(0,0,0,0.5);
        margin: 0.75rem;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);
        transition: transform $transition-out-speed;
        transition-delay: $transition-out-delay;

        ol {
            counter-reset: content-tile-counter;
            list-style: none;
            margin-left: 0;
            flex-grow: 1;
        }

        li {
            position: relative;

            &:before {
                content: counter(content-tile-counter);
                counter-increment: content-tile-counter;
                background: grey;
                color: white;
                display: inline-block;
                width: 24px;
                height: 24px;
                text-align: center;
                line-height: 24px;
                font-family: 'Function Pro', sans-serif;
                font-weight: 700;
                left: 0;
                top: 4px;
                position: absolute;
            }
        }

        li+li {
            margin-top: $baseline;
        }

        li a {
            color: white;
            display: block;
            margin-left: calc(0.75rem + 24px);
            font-size: $size-5;
            font-weight: 700;
            text-decoration: none;

            .meta {
                font-size: $size-7;
                font-weight: 400;
                text-transform: uppercase;
            }

            .item {
                height: 2.4em;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
            }

            &:hover {
                text-decoration: underline;
                text-decoration-skip: ink;
                text-decoration-color: rgba(white, 0.5);
            }
        }

        .button {
            color: white;
            text-align: center;
            width: 100%;

            &:hover {
                color: $color-red-ribbon;
            }

            &:focus {
                color: $color-red-ribbon;
            }
        }
    }

    &:hover,
    &:focus {
        img {
            filter: blur(10px);
            transform: scale(1.05);
            transition: filter $transition-in-speed, transform $transition-in-speed;
            transition-delay: 0s;
        }
        .content {
            transform: translateY(0);
            transition: transform $transition-in-speed;
            transition-delay: 0s;
        }
    }
}

// Tri-hero
//
// This component is dependent on specific container dimensions, see fullscreen.
//
// markup:
// <div class="container tri-hero loading">
//     <div class="columns">
//         <article class="column is-6"><a class="inner-container"><div class="content"></div></a></article>
//         <article class="column is-3"><a class="inner-container"><div class="content"></div></a></article>
//         <article class="column is-3"><a class="inner-container"><div class="content"></div></a></article>
//     </div>
// </div>
// <div class="container tri-hero">
//     <div class="columns">
//         <article class="column is-6 hero-0">
//             <a class="inner-container" href="#">
//                 <img src="/images/heroes/hero_person.jpeg" />
//                 <div class="content-container">
//                     <div class="content">
//                         <h2 class="is-size-3-tablet-only"><span>Latest Video</span></h2>
//                         <h1 class="is-size-3-mobile is-size-1-tablet-only"><span>Looking under the hood gold</span></h1>
//                         <p class="is-size-4-tablet-only is-hidden-mobile video-description">Curabitur et nisi venenatis, mattis tortor id, lacinia nulla. Donec id quam velit. Proin bibendum justo vitae tempor aliquam. Aenean tempus augue a dapibus vestibulum. Nullam lacinia magna eget sapien pretium, sit amet venenatis dolor efficitur. Curabitur tristique tincidunt ligula, quis scelerisque diam dapibus eu. Fusce non accumsan tellus. Nunc bibendum augue vitae nibh laoreet accumsan. Nam vitae placerat nulla, ut tempus ipsum. In mattis nisl id felis lacinia interdum. Sed ac enim quis arcu mattis auctor et in nunc.</p>
//                         <div class="columns is-mobile is-marginless buttons">
//                             <div class="column is-narrow-tablet">
//                                 <button class="icon-button large hide-text info"><i class="fa fa-info-circle" aria-hidden="true"></i>More information</button>
//                             </div>
//                             <div class="column is-narrow-tablet">
//                                 <button class="icon-button large play"><i class="fa fa-play" aria-hidden="true"></i><p>24 mins</p></button>
//                             </div>
//                         </div>
//                     </div>
//                 </div>
//             </a>
//         </article>
//         <article class="column is-3 hero-1">
//             <a class="inner-container" href="#">
//                 <img src="/images/heroes/hero_buildings.jpeg" />
//                 <div class="content-container">
//                     <div class="content">
//                         <h2 class="is-size-3-tablet-only"><span>Latest Video</span></h2>
//                         <h1 class="is-size-3-mobile is-size-1-tablet-only"><span>Looking under the hood gold</span></h1>
//                         <p class="is-size-4-tablet-only is-hidden-mobile video-description"><span>Curabitur et nisi venenatis, mattis tortor id, lacinia nulla. Donec id quam velit. Proin bibendum justo vitae tempor aliquam. Aenean tempus augue a dapibus vestibulum. Nullam lacinia magna eget sapien pretium, sit amet venenatis dolor efficitur. Curabitur tristique tincidunt ligula, quis scelerisque diam dapibus eu. Fusce non accumsan tellus. Nunc bibendum augue vitae nibh laoreet accumsan. Nam vitae placerat nulla, ut tempus ipsum. In mattis nisl id felis lacinia interdum. Sed ac enim quis arcu mattis auctor et in nunc.</span></p>
//                         <div class="columns is-mobile is-marginless buttons">
//                             <div class="column is-narrow-tablet">
//                                 <button class="icon-button large hide-text info"><i class="fa fa-info-circle" aria-hidden="true"></i>More information</button>
//                             </div>
//                             <div class="column is-narrow-tablet">
//                                 <button class="icon-button large play"><i class="fa fa-play" aria-hidden="true"></i>24 mins</button>
//                             </div>
//                         </div>
//                     </div>
//                 </div>
//             </a>
//         </article>
//         <article class="column is-3 hero-2">
//             <a class="inner-container" href="#">
//                 <img src="/images/heroes/hero_text.jpeg" />
//                 <div class="content-container">
//                     <div class="content">
//                         <h2 class="is-size-3-tablet-only"><span>Latest Video</span></h2>
//                         <h1 class="is-size-3-mobile is-size-1-tablet-only"><span>Looking under the hood gold</span></h1>
//                         <p class="is-size-4-tablet-only is-hidden-mobile video-description"><span>Curabitur et nisi venenatis, mattis tortor id, lacinia nulla. Donec id quam velit. Proin bibendum justo vitae tempor aliquam. Aenean tempus augue a dapibus vestibulum. Nullam lacinia magna eget sapien pretium, sit amet venenatis dolor efficitur. Curabitur tristique tincidunt ligula, quis scelerisque diam dapibus eu. Fusce non accumsan tellus. Nunc bibendum augue vitae nibh laoreet accumsan. Nam vitae placerat nulla, ut tempus ipsum. In mattis nisl id felis lacinia interdum. Sed ac enim quis arcu mattis auctor et in nunc.</span></p>
//                         <div class="columns is-mobile is-marginless buttons">
//                             <div class="column is-narrow-tablet">
//                                 <button class="icon-button large hide-text info"><i class="fa fa-info-circle" aria-hidden="true"></i>More information</button>
//                             </div>
//                             <div class="column is-narrow-tablet">
//                                 <button class="icon-button large play"><i class="fa fa-play" aria-hidden="true"></i>24 mins</button>
//                             </div>
//                         </div>
//                     </div>
//                 </div>
//             </a>
//         </article>
//     </div>
// </div>
//
// Styleguide 6.3
.tri-hero {
    $height: 490px;
    $transition-speed: 250ms;
    overflow: hidden;

    @include tablet {
        article {
            padding: 0;
            position: relative;
            height: $height;
            overflow: hidden;

            a {
                text-decoration: none;
            }

            .inner-container {

                &:hover {
                    .content {
                        h1, p {
                            color: $brand;
                        }
                    }
                }

                img {
                    position: absolute;
                    z-index: -1;
                    height: $height;
                    max-width: none;
                    top: 0;
                }
                .content-container {
                    height: 100%;
                    width: 100%;
                    padding: 2rem;
                }

                .content {
                    position: relative;
                    top: 50%;
                    color: white;

                    span {
                        background-color: black;
                        box-shadow: 10px 0 0 black, -10px 0 0 black;
                    }

                    h1 {
                        font-size: $size-3;
                        line-height: 2.4rem;
                    }
                    h2 {
                        font-size: $size-5;
                        font-weight: normal;
                        color: $brand;
                        text-transform: uppercase;
                    }
                    p {
                        overflow: hidden;
                        font-size: $size-6;
                        line-height: 1.4rem;
                        box-shadow: 10px 0 0 black, -10px 0 0 black;
                        background: black;
                    }

                    h1, p {
                        transition: color $transition-speed ease-in-out;
                    }

                    .buttons {
                        height: 30px;

                        div {
                            padding: 0;
                            background: black;

                            button {
                                margin: 0;
                                height: 30px;

                                &.play {
                                    color: $brand;
                                    padding: 0;
                                    padding-left: 70px;
                                    box-shadow: 10px 0 0 black;

                                    p {
                                        margin: 0;
                                    }
                                }

                                &.info {
                                    width: 60px;
                                    margin-left: -10px;
                                }

                                i {
                                    background: black;
                                    border-color: black;
                                    color: $brand;
                                    width: 60px;
                                }

                                &:hover {
                                    i {
                                        background: $brand;
                                        border-color: $brand;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.hero-0 {
                .inner-container {
                    .content-container {
                        padding: 2rem 3rem;
                        display: flex;
                        align-items: flex-end;
                    }
                    
                    img {
                        left: 0;
                    }

                    .content {
                        max-width: none;
                        display: flex;
                        flex-direction: column;
                        top: 0;

                        .video-description {
                            max-height: 2.8rem; 
                        }
                    }
                }
            }

            &.hero-1, &.hero-2 {
                border-left: 5px solid white;

                .inner-container {
                    img {
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .content {
                        transition: top $transition-speed ease-in-out;
                        height: 100%;

                        h1 {
                            font-size: $size-4;
                            line-height: 1.8rem;
                        }

                        .video-description {
                            position: absolute;
                            bottom: 30px;
                            max-height: 8.4rem; 
                        }

                        .buttons {
                            position: absolute;
                            bottom: 0;
                        }
                    }
                }

                &:hover {
                    .inner-container {
                        .content {
                            top: 0;
                        }
                    }
                }

                &:after {
                    content: "";
                    background: rgba(0, 0, 0, 0.5);
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    z-index: -1;
                }
            }
        }
    }

    @include desktop {
        article.hero-0 {
            .inner-container {
                .content {
                    .video-description {
                        max-width: 80%;
                    }
                }
            }
        }
    }

    @keyframes tri-hero-loading {
        to {
            background-position: 200% 0;
        }
    }

    @keyframes tri-hero-loading-mobile {
        to {
            background-position: 200% 0, 0 0, 0.75rem 0, 0 0, 0.75rem 0, 0 0;
        }
    }

    @include mobile {
        width: 100%;
        overflow: scroll;
        scroll-snap-type: mandatory;
        &.loading {
            .content {
                width: 100%;
                background-image: linear-gradient(90deg, transparent 0%, rgba(lightgray, 0.5) 50%, transparent 100%), linear-gradient(transparent 0, lightgray 0), linear-gradient(transparent 0, white 0), linear-gradient(transparent 0, lightgray 0), linear-gradient(transparent 0, white 0), linear-gradient(lightgray 100%, transparent 0);
                background-repeat: no-repeat;
                background-size: 200px 100%, 100% 0.75rem, 47% 2.5rem, 100% 4rem, 80% 8rem, 100% 100%;
                background-position: -100% 0, 0 0, 0.75rem 0, 0 0, 0.75rem 0, 0 0;
                animation: tri-hero-loading-mobile 2.5s infinite;

                &:after {
                    display: none;
                }
            }
        }

        .inner-container {
            color: white;
            text-decoration-color: rgba(54, 54, 54, 0.25);
        }

        .buttons {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 ($baseline / 2);
            margin: 0;

            div {
                button {
                    height: auto;

                    &.play {
                        color: $brand;
                        background: black;
                        padding-left: 70px;
                        box-shadow: 10px 0 0 black;

                        p {
                            margin: 0;
                        }
                    }

                    &.info {
                        width: 60px;
                        margin-left: -10px;
                    }

                    i {
                        background: black;
                        border-color: black;
                        color: $brand;
                        width: 60px;
                    }

                    &:hover {
                        i {
                            background: $brand;
                            border-color: $brand;
                            color: black;
                        }
                    }
                }
            }
        }

        > .columns {
            margin: 0;
            width: 300%;

            article:after {
                content: "";
                background: linear-gradient(to top, $color-dark-gray 67px, transparent 67px), linear-gradient(to right, rgba(0,0,0,.85) 0, rgba(0, 0, 0, 0) 75%);
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            > .column {
                float: left;
                padding: 0;
                position: relative;
                width: (100% / 3);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 0;
            }

            .content {
                display: block;
                height: 0;
                // Firefox interprets percentage scale here strangely - use vw units instead
                padding: ($baseline / 2) ($baseline / 2) calc(56.25vw - #{$baseline / 2} + 67px);
                position: relative;
                z-index: 1;
            }

            h1,
            .hero-1 h1, .hero-2 h1 {
                max-height: 4em;
            }

            @supports (-webkit-line-clamp: 4) {
                h1,
                .is-3 h1 {
                    -webkit-line-clamp: 4;
                }
            }

            h2 {
                font-size: $size-6;
            }

            .icon-button.info,
            .icon-button.play {
                width: 100%;
            }

            .icon-button.info {
                i {
                    width: 100%;
                }
            }
        }
    }
}

// Content tile more info
//
// This component is dependent on specific container dimensions, see fullscreen.
//
// markup:
// <section class="more-info container">
//     <div class="columns">
//         <div class="content column is-7-desktop">
//             <div class="badge">Analysis</div>
//             <h1>Looking under the hood gold</h1>
//             <div class="columns is-8">
//                 <div class="column is-8 child-full-height">
//                     <div class="synopsis">
//                         <p>Curabitur et nisi venenatis, mattis tortor id, lacinia nulla. Donec id quam velit. Proin bibendum justo vitae tempor aliquam. Aenean tempus augue a dapibus vestibulum. Nullam lacinia magna eget sapien pretium, sit amet venenatis dolor efficitur. Curabitur tristique tincidunt ligula, quis scelerisque diam dapibus eu. Fusce non accumsan tellus. Nunc bibendum augue vitae nibh laoreet accumsan. Nam vitae placerat nulla, ut tempus ipsum. In mattis nisl id felis lacinia interdum. Sed ac enim quis arcu mattis auctor et in nunc.</p>
//                     </div>
//                 </div>
//                 <div class="column is-3">
//                     <dl>
//                         <dt>Published date:</dt>
//                         <dd>27th March 2017</dd>
//                         <dt>Featuring:</dt>
//                         <dd>Shane Oliver - Economist</dd>
//                         <dt>Interviewer:</dt>
//                         <dd>Grant Williams</dd>
//                         <dt>Topics:</dt>
//                         <dd>Australia, New Zealand, Macro, Housing Market</dd>
//                         <dt>Asset Classes:</dt>
//                         <dd>Real Estate, Equities, Currencies</dd>
//                     </dl>
//                 </div>
//             </div>
//             <p class="strap"><i class="fa fa-info"></i>Shane Oliver is one of Australia's most highly rated economists</p>
//             <div class="columns">
//                 <div class="column is-paddingless">
//                     <button class="icon-button invert large is-size-6-mobile plus"><i class="fa fa-plus" aria-hidden="true"></i>Watch Later</button>
//                 </div>
//                 <div class="column is-hidden-tablet">
//                     <button class="icon-button invert large is-size-6-mobile play"><i class="fa fa-play" aria-hidden="true"></i>01:24:45</button>
//                 </div>
//             </div>
//         </div>
//     </div>
//     <div class="image child-full-height">
//         <div class="column is-8 is-offset-4" style="background-image: url(https://lorempixel.com/1600/900/city)"></div>
//     </div>
//     <button class="icon-button invert large play is-hidden-mobile"><i class="fa fa-play" aria-hidden="true"></i>01:24:45</button>
//     <button class="icon-button close hide-text large"><i class="fa fa-close" aria-hidden="true"></i>Close more information</button>
// </section>
//
// Styleguide 6.4
.more-info {
    position: relative;
    overflow: hidden;

    .columns {
        margin: 0;
    }

    .close {
        position: absolute;
        top: $baseline;
        right: $baseline;
        background: rgba(0, 0, 0, 0.25);
        z-index: 1;

        &:before {
            border: 0;
            color: rgba(255,255,255,0.75);
            font-size: 32px;
        }
    }

    @include mobile {
        .icon-button {
            width: 100%;
        }
    }

    @include tablet {
        .icon-button.play {
            position: absolute;
            bottom: $baseline;
            right: $baseline;
        }
    }

    .content {
        color: #fff;
        padding: $baseline;
        position: relative;
        z-index: 1;

        .columns {
            margin-bottom: $baseline / 2;
        }

        p {
            text-align: justify;
        }

        @include until($tablet) {
            .column {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    h1 {
        font-weight: 800;
        margin-bottom: $baseline / 2;
        margin-top: 0;
        text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }

    dl {
        background: rgba(0,0,0,0.75);
        padding: $baseline / 2;
        @include tablet {
            background: transparent;
            padding: 0;
        }
    }

    dt {
        opacity: 0.75;
    }

    .badge {
        margin-bottom: $baseline / 2;
    }

    .synopsis {
        background: $color-bright-gray;
        padding: $baseline / 2;
    }

    .strap {
        margin-top: 0;
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;

        .column {
            padding: 0;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:after {
            background: linear-gradient(to bottom, black 5rem, transparent 15rem, transparent 75%, black 90%);
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            @include tablet {
                background: linear-gradient(to right, black 45%, transparent 100%);
            }

            @include desktop {
                background: linear-gradient(to right, black 45%, transparent 75%);
            }
        }
    }
}