// Grid
// 
// Powered by Bulma. See http://bulma.io/documentation/grid/columns/
// 
// markup:
// <div class="columns">
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">First column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Second column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Third column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Fourth column</div>
//   </div>
// </div>
// <div class="columns">
//   <div class="column is-2">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">First column</div>
//   </div>
//   <div class="column is-2">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Second column</div>
//   </div>
//   <div class="column is-3">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Third column</div>
//   </div>
//   <div class="column is-5">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Fourth column</div>
//   </div>
// </div>
// 
// Styleguide 2.1
.columns {}

.column {}

.is-2-5 {
    width: 20.83%;
}
.is-offset-0-5-tablet {
    @include tablet {
        margin-left: 4.125%;
    }
}
.is-offset-0-5-desktop {
    @include desktop {
        margin-left: 4.1666%;
    }
}
.child-full-height {
    display: flex;
    > * {
        flex-grow: 1;
    }
}
@include tablet {
    .is-vertically-center:not(.columns) {
        align-items: center;
        display: flex;
    }
    .is-vertically-bottom:not(.columns) {
        align-items: flex-end;
        display: flex;
    }
}

// Vertical Rhythm
//
// Vertical rhythym is on a baseline 1.5rem value (24px). The default line
// height for all text is set to this baseline.
//
// Paragaphs, lists, and blockquotes that follow other elements have a 
// `$baseline * 0.5` margin.
//
// Headings that follow other elements have a `$baseline * 1.5` top margin.
//
// Styleguide 2.2
*+ {
    p,
    pre,
    ul,
    ol,
    dl,
    blockquote {
        margin: $baseline * 0.5 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $baseline * 1.5;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    +* {
        margin-top: $baseline * 0.5;
    }
}


// Navigation
//
// Best previewed in fullscreen mode. Dropdown controls require javascript implementation.
// 
// default - Default
// 
// markup:
// <div class="container is-paddingless navigation">
//     <div class="columns is-mobile">
//         <h1 class="logo column is-narrow-tablet">
//             <a href="/">
//                 <div class="is-hidden-mobile"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1262.6 484.5" class="logo_tv"><path class="logo_tv--text" d="M827.1 0c-4.2 8.8-8.5 17.5-12.7 26.3C799 57.9 606 453.9 592.2 482.3c-.3.7-1.1 2.2-1.1 2.2l-1.1-2L357.1 0h117.5s116.8 253.6 117.5 253.9C592.3 253.6 709 1 708.6 0h118.5z"/><path class="logo_tv--text" d="M1262.6 287.5h-2.8l-75.1-80.6v78.2h-13.2V177.7h3.3l1.1 1.1 72.5 77.6s.5.7 1 .7c.1 0 .2 0 .2-.1.1 0 .2-.1.2-.2v-76.9l12.7-.1.1 107.7z"/><path class="logo_tv--text" d="M.1 179.6s20.5.1 29.5.2c4.6.1 9.2.7 13.5 2.4 9 3.5 14.1 10.3 15.7 19.7.9 5.2.5 10.3-1 15.3-3 9.4-9.4 15.3-19.1 17.5-.8.2-2.6.9-5.1 1.4-.4 0 28.9 48.9 28.9 48.9H47.1l-27.7-48.2h-5.8v48.3c-3.2 0-13.6.1-13.6.1l.1-105.6zm13.6 45.8c7.1 0 13.8.1 20.4-1.3 4.8-1.1 8.2-3.9 10.1-8.4 1.6-3.8 1.8-7.7 1-11.8-1.2-5.7-4.5-9.4-10-11.1-1.7-.5-3.4-.8-5.1-.9-4.9-.3-9.8-.3-14.7-.3h-1.7v33.8z"/><path class="logo_tv--text" d="M285.4 285.1h-2l-13-30.2h-39.3c-4.2 10.1-8.5 20.1-12.7 30.1h-14.3c10.8-25.1 44.3-103.5 46.6-107.7.1-.1.3-.3.5-.3h.2c.7.6.9 1.5 1.3 2.3l45 105.7m-32.1-41.7c-5.2-12.1-9.5-24.1-14.6-36.5-5.1 12.5-10 24.4-15 36.5h29.6z"/><path class="logo_tv--text" d="M120.9 221.8h40.9v11.6h-40.6l-.2 39.1 41.7.1.1 11.9-55.3.3-.3-104.8 54.9-.1v12.3h-41l-.2 29.6z"/><path class="logo_tv--text" d="M353.5 272.9h33.7V285l-46.9-.1.1-105h13.2l-.1 93z"/><path class="logo_tv--banner" d="M678.8 433.8c17.1-35 34.1-69.8 51.1-104.7h531.2c-17.1 35-34.2 69.8-51.3 104.7h-531zm508.4-44.6c-10.9-12.4-21.5-24.4-32-36.3-2.5.2-7 .2-7 .2v53.2h10V371c10.9 12.4 21.5 24.4 31.9 36.3h7c.4-3.1.3-51.3-.1-53.2h-10c.2 11.7.2 23.1.2 35.1zm-82.5-36.1c-1.3 0-2.7-.2-4 0-15.4 2.2-24.9 15-24.2 27.7.4 8.9 3.8 16.1 10.9 21.4 6.7 5 14.3 6.3 22.5 4.9 16.1-2.8 25.7-18.1 21.8-33.6-3-12.7-14.9-20.9-27-20.4zm-222.4 30.3h9.1c3 0 5.9.1 8.8 0v-8.9h-17.9V363H901v-8.7h-28.8v52.2H901v-8.9h-18.7v-14.2zM816.5 363v-8.8h-28.7v52.2h28.7v-8.9h-18.6v-14.1h17.9v-8.8h-17.9v-11.5c6.2-.1 12.3-.1 18.6-.1zm183 35.1c.8 1.5 2.2 2.9 3.6 4.3 4.3 4.1 9.5 5.4 15.3 5.3 9.2-.3 15.9-5.9 16.9-15 .8-7.2-1.5-12.1-7.6-15.4-1.7-.9-3.4-1.6-5.2-2.3-2.4-.9-4.9-1.7-7.1-3-1.8-1-3.1-2.3-2.9-4.5.1-2.2 1.4-3.7 3.3-4.7 3.4-1.8 7.8-1.1 10.9 1.6.6.5 1.2 1.1 1.8 1.6 1.8-2.4 3.5-4.6 5.2-6.8-4.3-4.6-12.5-6.7-18-5.8-4.8.8-8.7 2.8-11.4 6.8-2 2.9-2.4 6.1-2.2 9.5.1 3.8 1.7 6.7 4.7 8.9 2.4 1.8 5.2 3 8 4 2.1.8 4.2 1.6 6.2 2.5 1.7.8 3 2 3.7 3.9 1.3 3.7-.9 7.8-4.9 9-4.3 1.3-9.3-.3-12.2-4.1-.6-.7-1.1-1.5-2-2.6-2.3 2.3-4.2 4.5-6.1 6.8zM912.1 354c7.5 18.1 14.9 35.9 22.2 53.7h5.6c7.5-17.9 15-35.7 22.6-53.7h-11.2c-4.7 11.6-9.3 23.1-14.1 35.1-4.8-11.9-9.4-23.5-14-35.1h-11.1zm-158.6 9v43.4h10.1v-43.5h11.7v-8.8h-33.6v8.9h11.8zm105.4 43.4c.2-3 .2-5.8 0-9h-16.2v-43.3h-9.9v52.3h26.1zm115.8-52.3v52.2h9.9v-52.2h-9.9zm76.5 0v52.3h9.9v-52.3h-9.9z"/><path class="logo_tv--text" d="M1070.8 286.9c-14.3-.1-27-4.5-37.5-14.4-7.2-6.7-12-14.9-14.5-24.4-3.8-13.9-2.8-27.5 3.5-40.4 7.1-14.6 18.8-24 34.5-28 11.6-3 23.2-2.8 34.5 1.2 17.2 5.9 28.5 17.9 33.4 35.3 5.5 19.7 1.3 37.5-12.2 52.8-8.5 9.8-19.7 15.1-32.5 17.1-3 .5-6.1.9-9.2.8zm-.2-12.6l6-.3c1.2-.1 2.5-.4 3.7-.7 13.9-3.2 23.8-11.2 29.2-24.4 3.5-8.5 4-17.3 2.4-26.2-1.3-7.2-4.3-13.7-9.2-19.1-8.7-9.5-19.7-13.6-32.4-13.1-16.3.6-28.2 8.3-35.2 23-5.4 11.2-5.5 22.8-1.4 34.5 5.3 16 19.9 26.4 36.9 26.3z"/><path class="logo_tv--text" d="M855.4 264.6l11.6-5.5s.7 1.5 1 2.3c1.1 2.7 2.4 5.3 4.2 7.6 4.4 5.6 10.7 7 16.8 5.5 5.9-1.5 10.3-6.9 11.2-13.4 1.1-7.8-1.5-13.9-8-18.3-3-2.1-6.1-4-9.4-5.7-4.6-2.4-9-5.1-13.1-8.2-7.5-5.6-11-13.1-11.1-22.4-.1-6.9 1.3-13.2 5.7-18.7 6.1-7.6 14.2-10.5 23.6-9.8 11.3.9 19.1 7.1 24.1 17 .1.1.3.7.3.7l-10.4 6s-1.6-2.3-2.3-3.4c-2.5-3.7-5.4-6.7-9.9-8-7.6-2.1-15.5 2.3-17.5 9.9-2 7.6-.1 13.3 6.1 18.1 3.6 2.8 7.7 4.9 11.7 7.2 3.9 2.2 7.8 4.4 11.5 7.1 16.5 11.9 15.4 37.2.6 48.5-13.9 10.7-35.2 6-43.5-9.5-1-1.9-1.8-3.9-2.7-5.9-.2-.3-.5-1.1-.5-1.1z"/><path class="logo_tv--text" d="M798.9 179.9h13.2v105.2h-13.2z"/><path class="logo_tv--text" d="M958.7 179.8h13.2v105.3h-13.2z"/><path class="logo_tv--smalltext" d="M1187.2 389.2v-35h10.2s.2 50.1-.2 53.2h-7c-10.5-11.9-21-23.9-31.9-36.3v35.3h-10v-53.3s4.5.1 7-.1c10.4 11.8 21 23.8 31.9 36.2z"/><path class="logo_tv--smalltext" d="M1105.1 352.6c11.4-.6 23.6 8.2 26.7 20.8 3.8 15.6-5.7 30.8-21.8 33.6-8.1 1.4-15.8.2-22.5-4.9-7.1-5.3-10.5-12.6-10.9-21.4-.6-12.7 8.8-25.5 24.2-27.7 1.2-.1 3-.4 4.3-.4zm-18.1 27.8c.1 8.9 6.7 18 17.7 17.9 12.3-.1 17.9-11 17.4-18.9-.4-7.9-6.3-17.1-17.7-17.1-10.7 0-17.6 9-17.4 18.1z"/><path class="logo_tv--smalltext" d="M882.3 383.4v14.1H901v8.9h-28.8v-52.2H901v8.7h-18.7v11.5h17.9v8.9c-2.9.1-5.9 0-8.8 0-2.9.1-5.9.1-9.1.1z"/><path class="logo_tv--smalltext" d="M816.5 363h-18.6v11.5c5.9.1 11.8 0 17.9 0v8.8h-17.9v14.1h18.6v8.9h-28.7v-52.2h28.7v8.9z" id="path33"/><path class="logo_tv--smalltext" d="M999.5 398.1c2-2.3 3.9-4.5 6-6.9.9 1.1 1.4 1.9 2 2.6 3 3.8 8 5.4 12.2 4.1 4-1.2 6.2-5.3 4.9-9-.7-1.8-2-3.1-3.7-3.9-2-.9-4.1-1.7-6.2-2.5-2.8-1-5.6-2.2-8-4-3-2.2-4.6-5.1-4.7-8.9-.1-3.4.3-6.6 2.2-9.5 2.7-4.1 6.6-6.1 11.4-6.8 5.5-.9 13.7 1.2 18 5.8-1.7 2.2-3.4 4.5-5.2 6.8-.6-.6-1.2-1.1-1.8-1.6-3.1-2.7-7.5-3.4-10.9-1.6-1.9 1-3.1 2.4-3.3 4.7-.1 2.2 1.2 3.5 2.9 4.5 2.3 1.3 4.7 2.1 7.1 3 1.8.7 3.6 1.4 5.2 2.3 6.1 3.4 8.5 8.2 7.6 15.4-1 9.1-7.7 14.8-16.9 15-5.8.2-11-1.2-15.3-5.3-1.4-1.3-2.8-2.7-3.5-4.2z"/><path class="logo_tv--smalltext" d="M912.1 354h11.2c4.6 11.6 9.2 23.2 14 35.1 4.8-11.9 9.4-23.4 14.1-35.1h11.2c-7.6 17.9-15.1 35.8-22.6 53.7h-5.6c-7.4-17.7-14.8-35.5-22.3-53.7z"/><path class="logo_tv--smalltext" d="M753.5 363h-11.8v-8.9h33.6v8.8h-11.7v43.5h-10.1V363z"/><path class="logo_tv--smalltext" d="M858.9 406.4h-26.1v-52.3h9.9v43.3h16.2c.1 3.2.1 6 0 9z"/><path class="logo_tv--smalltext" d="M974.7 354.1h9.9v52.2h-9.9v-52.2z"/><path class="logo_tv--smalltext" d="M1051.2 354.1h9.9v52.3h-9.9v-52.3z"/><path class="logo_tv--banner" d="M1087 380.4c-.2-9 6.7-18.1 17.4-18.1 11.3 0 17.2 9.2 17.7 17.1.4 7.9-5.2 18.7-17.4 18.9-11 .1-17.6-9-17.7-17.9z"/></svg></div>
//                 <div class="is-hidden-tablet"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1161.8 973.2" class="logo_tv_small"><g><path class="logo_tv_small--V" d="M1040.3 0c-8.5 17.6-17 35.2-25.6 52.8-30.9 63.4-418.5 858.8-446.3 915.9-.7 1.4-2.2 4.5-2.2 4.5l-2.1-4L96.2 0h236s234.6 509.4 236 510.1c.4-.6 234.8-508 234.1-510.1h238z" /><path class="logo_tv_small--banner" d="M0 771.9C34.1 702 68 632.6 102 563.1h1059.8c-34.2 69.7-68.2 139.2-102.3 208.8H0zm1014.2-88.8c-21.8-24.8-42.9-48.7-63.8-72.5-5 .4-14 .5-14 .5v106.2h20v-70.4c21.8 24.8 42.8 48.7 63.7 72.4h14c.8-6.2.6-102.4-.1-106.1h-19.9c.1 23.1.1 45.8.1 69.9zm-164.5-72.2c-2.7 0-5.4-.3-8 0-30.8 4.4-49.6 29.9-48.3 55.3.9 17.7 7.6 32.1 21.8 42.7 13.4 10 28.6 12.5 44.9 9.7 32.1-5.6 51.2-36 43.6-67.1-6.2-25.1-29.9-41.6-54-40.6zm-443.8 60.4h18.2c5.9 0 11.8.1 17.6-.1v-17.7h-35.8v-23h37.3v-17.4h-57.4v104h57.4v-17.7h-37.4c.1-9.4.1-18.3.1-28.1zm-131.4-40.6v-17.6h-57.2v104.1h57.2v-17.8h-37.1v-28.2h35.8v-17.5c-12.2-.1-24.1.1-35.8-.1v-22.9h37.1zm365.1 70c1.6 3 4.3 5.9 7.2 8.6 8.6 8.2 18.9 10.8 30.6 10.5 18.4-.5 31.8-11.8 33.8-30 1.6-14.4-3.1-24.1-15.3-30.8-3.3-1.8-6.9-3.2-10.4-4.6-4.8-1.8-9.7-3.4-14.2-6-3.5-2-6.1-4.6-5.8-9.1.3-4.4 2.7-7.3 6.5-9.3 6.9-3.5 15.5-2.3 21.8 3.2 1.2 1 2.3 2.1 3.6 3.3 3.6-4.8 7-9.2 10.3-13.7-8.6-9.3-25-13.3-35.9-11.6-9.5 1.5-17.3 5.5-22.7 13.6-3.9 5.8-4.7 12.2-4.5 19 .2 7.5 3.4 13.4 9.4 17.8 4.9 3.6 10.3 5.9 15.9 8 4.2 1.5 8.4 3.1 12.4 5 3.4 1.5 6.1 4 7.4 7.7 2.6 7.3-1.9 15.5-9.8 18-8.6 2.7-18.5-.7-24.4-8.2-1.2-1.5-2.3-3-4-5.3-4.1 4.9-7.9 9.3-11.9 13.9zm-174.2-87.8c14.9 36.1 29.7 71.7 44.4 107.2H521c15-35.6 30-71.3 45.1-107.1h-22.3c-9.3 23.2-18.6 46.2-28.1 69.9-9.5-23.8-18.7-47-27.9-70.1-7.6.1-14.7.1-22.4.1zM149 630.8v86.5h20.1v-86.7h23.4v-17.5h-67v17.7H149zm210.1 86.5c.3-5.9.3-11.6 0-17.9h-32.3V613H307v104.3h52.1zM590.3 613v104.1H610V613h-19.7zm152.7 0v104.3h19.7V613H743z" /><path class="logo_tv_small--text" d="M1014.2 683.1v-69.9h20.9l-.9 106.1h-14c-20.9-23.7-41.9-47.6-63.7-72.4v70.4h-20V610.9s9 .1 14-.2c20.9 23.7 41.9 47.5 63.7 72.4z" /><path class="logo_tv_small--text" d="M850.4 610c22.7-1.1 47.1 16.4 53.2 41.5 7.6 31.1-11.4 61.4-43.6 67.1-16.2 2.8-31.5.4-44.9-9.7-14.2-10.6-20.9-25.1-21.8-42.7-1.2-25.4 17.6-50.9 48.3-55.3 2.7-.3 6.1-.9 8.8-.9zm-36.1 55.4c.1 17.8 13.4 35.9 35.2 35.6 24.5-.3 35.6-21.9 34.8-37.7-.9-15.7-12.7-34.2-35.3-34.1-21.3.1-35.1 18.2-34.7 36.2z" /><path class="logo_tv_small--text" d="M405.9 671.3v28.1h37.4v17.7h-57.4v-104h57.4v17.4H406v23h35.8v17.7c-5.8.2-11.7.1-17.6.1-6 .1-12 0-18.3 0z" /><path class="logo_tv_small--text" d="M274.5 630.7h-37.1v22.9c11.7.2 23.6 0 35.8.1v17.5h-35.8v28.2h37.1v17.8h-57.2V613.1h57.2v17.6z" /><path class="logo_tv_small--text" d="M639.6 700.7c4-4.6 7.8-9 11.9-13.8 1.7 2.3 2.8 3.8 4 5.3 5.9 7.5 15.9 10.9 24.4 8.2 8-2.5 12.4-10.6 9.8-18-1.3-3.7-4-6.2-7.4-7.7-4.1-1.8-8.3-3.4-12.4-5-5.6-2.1-11.1-4.4-15.9-8-6-4.4-9.1-10.3-9.4-17.8-.2-6.8.6-13.2 4.5-19 5.5-8.1 13.2-12.1 22.7-13.6 10.9-1.7 27.3 2.3 35.9 11.6-3.3 4.4-6.7 8.9-10.3 13.7-1.3-1.2-2.4-2.3-3.6-3.3-6.3-5.4-14.9-6.7-21.8-3.2-3.8 2-6.3 4.9-6.5 9.3-.3 4.4 2.3 7.1 5.8 9.1 4.5 2.6 9.4 4.1 14.2 6 3.6 1.4 7.1 2.7 10.4 4.6 12.2 6.7 16.9 16.4 15.3 30.8-2 18.2-15.4 29.4-33.8 30-11.7.3-22-2.3-30.6-10.5-2.8-2.8-5.6-5.7-7.2-8.7z" /><path class="logo_tv_small--text" d="M465.4 612.9h22.4c9.2 23.1 18.4 46.2 27.9 70.1 9.5-23.8 18.8-46.8 28.1-69.9h22.3C551 648.9 536 684.5 521 720.2h-11.2c-14.8-35.6-29.5-71.2-44.4-107.3z" /><path class="logo_tv_small--text" d="M149 630.8h-23.5v-17.7h67v17.5h-23.4v86.7H149v-86.5z" /><path class="logo_tv_small--text" d="M359.1 717.3h-52.2V613h19.8v86.4H359c.5 6.3.5 12 .1 17.9z" /><path class="logo_tv_small--text" d="M590.3 613H610v104.1h-19.7V613z" /><path class="logo_tv_small--text" d="M743 613h19.7v104.3H743V613z" /><path class="logo_tv_small--banner" d="M814.3 665.4c-.4-18 13.4-36.1 34.7-36.1 22.6-.1 34.4 18.4 35.3 34.1.9 15.8-10.3 37.4-34.8 37.7-21.8.2-35.1-17.9-35.2-35.7z" /></g></svg></div>
//             </a>
//         </h1>
//         <div class="column is-narrow is-hidden-tablet is-paddingless">
//             <a class="hamburger">
//                 <span class="is-hidden">Menu</span>
//                 <span class="icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
//             </a>
//         </div>
//         <div class="page-navigation-outer-container desktop-navigation is-hidden-mobile">
//             <div class="page-navigation-container">
//                 <ul class="top-navigation">
//                     <li class="is-active"><a href="#">Television</a></li>
//                     <li><a href="#">Publications</a></li>
//                     <li><a href="#">Macro Insiders</a></li>
//                 </ul>
//             </div>
//         </div>
//         <div class="spacer is-hidden-mobile"></div>
//         <div class="column is-hidden-mobile search">
//             <form method="GET" action="" class="search-form">
//                 <input size="1" type="text" name="parameters_query" value="" placeholder="Assets, topics..." />
//                 <button type="submit" name="search"></button>
//             </form>
//         </div>
//         <div class="column is-hidden-mobile is-narrow desktop-link" data-toggle="additional-navigation--account">
//             <div class="dropdown is-right">
//                 <div class="dropdown-trigger">
//                     <a class="avatar" id="accountButton" aria-haspopup="true" aria-controls="dropdown-menu"></a>
//                 </div>
//                 <div class="dropdown-menu" id="dropdown-menu" role="menu">
//                     <div class="dropdown-content">
//                         <a href="#" class="dropdown-item">Account</a>
//                         <a id="milton-contact" href="#" class="milton-contact dropdown-item">Contact</a>
//                         <a href="#" class="dropdown-item">Logout</a>
//                     </div>
//                 </div>
//             </div>
//         </div>
//     </div>
//     <div class="product-navigation open is-hidden-mobile">
//         <ul>
//             <li class="desktop-link">
//                 <a href="{{ href }}">Dashboard</a>
//             </li>
//             <li data-rel="menu categories" class="desktop-link categories dropdown">
//                 <div class="dropdown-trigger">
//                     <a href="#" class="is-active" aria-haspopup="true" aria-controls="dropdown-menu">Categories <svg viewBox="0 0 767.5 1024" height="1024" width="767.5" xmlns="http://www.w3.org/2000/svg" class="icon_down_arrow"><path d="M0 384l383.75 383.75L767.5 384H0z" class="icon_down_arrow--arrow" /></svg></a>
//                 </div>
//                 <div class="dropdown-menu" id="dropdown-menu" role="menu">
//                     <div class="dropdown-content">
//                         <a href="#" class="dropdown-item">
//                             Link 1
//                         </a>
//                         <a href="#" class="dropdown-item">
//                             Link 2
//                         </a>
//                         <a href="#" class="dropdown-item">
//                             Link 3
//                         </a>
//                     </div>
//                 </div>
//             </li>
//             <li class="desktop-link">
//                 <a href="#">Dashboard</a>
//             </li>
//             <li class="desktop-link">
//                 <a href="#">Dashboard</a>
//             </li>
//             <li class="desktop-link">
//                 <a href="#">Dashboard</a>
//             </li>
//         </ul>
//     </div>
//     <div class="page-navigation-container is-hidden-tablet hamburger-navigation">
//         <div class="column">
//             <form method="GET" action="" class="search-form">
//                 <input type="text" name="parameters_query" value="" placeholder="Assets, topics..." />
//                 <button type="submit" name="search"></button>
//             </form>
//         </div>
//         <ul class="page-navigation">
//             <li data-rel="menu products" data-toggle="additional-navigation--products" class="products">
//                 <a>Products <svg viewBox="0 0 767.5 1024" height="1024" width="767.5" xmlns="http://www.w3.org/2000/svg" class="icon_down_arrow"><path d="M0 384l383.75 383.75L767.5 384H0z" class="icon_down_arrow--arrow" /></svg></a>
//                 <ul>
//                     <li><a href="#" class="is-active">Television</a></li>
//                     <li><a href="#">Publications</a></li>
//                     <li><a href="#">Macro Insiders</a></li>
//                 </ul>
//             </li>
//             <li>
//                 <a href="#" class="is-active">Dashboard</a>
//             </li>
//             <li data-rel="menu categories" data-toggle="additional-navigation--categories" class="categories">
//                 <a>Categories <svg viewBox="0 0 767.5 1024" height="1024" width="767.5" xmlns="http://www.w3.org/2000/svg" class="icon_down_arrow"><path d="M0 384l383.75 383.75L767.5 384H0z" class="icon_down_arrow--arrow" /></svg></a>
//                 <ul>
//                     <li><a href="#">
//                         Link 1
//                     </a></li>
//                     <li><a href="#">
//                         Link 2
//                     </a></li>
//                     <li><a href="#">
//                         Link 3
//                     </a></li>
//                 </ul>
//             </li>
//             <li>
//                 <a href="#">Dashboard</a>
//             </li>
//             <li>
//                 <a href="#">Dashboard</a>
//             </li>
//             <li>
//                 <a href="#">Dashboard</a>
//             </li>
//         </ul>
//     </div>
// </div>
// 
// Styleguide 2.3
.navigation {
    background: #1f2732;
    position: relative;
    > .columns {
        margin: 0;
        padding: 0 ($baseline/2);
        border-bottom: 1px solid $brand;
    }
    .column {
        padding-bottom: 0;
        flex-basis: auto;
    }
    .search {
        flex-basis: auto;
    }
    .hamburger {
        border: 2px solid rgba(white, 0.25);
        border-radius: 2px;
        color: white;
        display: inline-block;
        padding: 0 ($baseline/2);
        text-transform: uppercase;
        font-family: 'Function Pro';
        font-weight: 700;
        text-decoration: none;
        .icon {
            height: 40px;
        }
    }
    .icon_down_arrow {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 0;
    }
    .logo svg {
        height: 46px;
        width: 120px;
    }
    .logo svg.logo_tv_small,
    .logo svg.logo_publications_small {
        height: 46px;
        width: 55px;
    }
    path {
        fill: white;
    }
    ul {
        margin: 0;

        @include tablet {
            margin-left: 2.25rem;
        }
        ul {
            display: none;
            margin-top: 0;
            margin-bottom: 0;
            a {
                border-bottom: 0;
                padding: ($baseline / 2) ($baseline * 2);
            }
        }
    }
    li {
        list-style: none;
        margin-top: 0;

        @include tablet {
            border-bottom: 4px solid transparent;
            display: inline-block;
            padding: 5px 10px 16px 10px;
            margin-right: 10px;
            margin-left: 0;
        }

        a {
            color: white;
            border-bottom: 1px solid rgba(white, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: ($baseline / 2) $baseline;
            text-transform: none;
            font-family: 'Proxima Nova';
            text-decoration: none;
            white-space: nowrap;

            @include tablet {
                border: 0;
                display: inline;
                padding: 0;
            }
    
            &:hover {
                color: $brand;
            }

            &.is-active {
                color: $brand;
            }
        }

        &.is-active {
            border-bottom-color: $brand;
            > a {
                color: $brand;
            }
        }

        &.open {
            background: #171d25;

            @include tablet {
                position: relative;
                transform: translateY(1px);
                z-index: 1;
            }
            a {
                border-color: transparent;
                text-decoration: underline;
                text-decoration-color: rgba(white, 0.5);
                &:hover {
                    color: white;
                    text-decoration-color: rgba(white, 0.5);
                }
            }
            ul {
                display: block;

                a {
                    text-decoration: none; 
                    
                    &.is-active {
                        color: $brand;
                    }
                }
            }
        }
    }
    .spacer {
        flex-grow: 1;
    }
    .navigation-dropdown {
        position: absolute;
        top: auto;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        background-color: #191e24;
        border: 2px solid #555b62;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        background-clip: padding-box;
        padding: 12px 24px;
    }
    .open .navigation-dropdown {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .page-navigation-outer-container {
        display: flex;
        align-items: flex-end;
    }
    .page-navigation-container {
        display: none;
        height: 100%;
        
        &.show {
            display: flex;
            flex-direction: column;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }
    .top-navigation {
        white-space: nowrap;
    }
    .desktop-navigation .top-navigation {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }

    .product-navigation {
        background: #171d25;
        margin: 0;
        padding: 0 $baseline;
        font-size: 16px;
        transition: transform 0.2s;
        display: none;
        ul {
            margin-left: 0;
        }
        li {
            padding: 0;
            margin: 0;
            border: 0;
        }
        a {
            display: inline-block;
            padding: $baseline / 2 $baseline / 4;
            margin-right: 2em;
            
            &.is-active {
                color: $brand;
                text-decoration: underline;
                text-decoration-color: rgba($brand, 0.5);
            }
        }
    
        &.open {
            display: block;
        }
    
        &.right {
            text-align: right;
            li a{
                margin-right: 0;
                margin-left: 2em;
            }
        }
    
        &.center {
            text-align: center;
            li a {
                margin-right: 1em;
                margin-left: 1em;
            }
        }
    }
    
    .dropdown-content {
        background-color: #171d25;
        box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    }

    .dropdown-content a {
        color: white;
        display: block;
        padding: ($baseline / 4) ($baseline * 2) ($baseline / 4) 1rem;
        margin-right: 0;
        font-size: 16px;

        &:hover,
        &:focus {
            background: rgba(255,255,255,0.1);
            color: $brand;
        }

        &.is-active {
            background: transparent;
            color: $brand;
            cursor: default;
            text-decoration: underline;
            text-decoration-color: rgba($brand, 0.5);
        }
    }
}

// Page Footer
//
// markup:
// <footer>
//      <div class="columns is-vcentered">
//          <div class="column is-one-quarter has-text-centered">
//              <ul class="footer-links column">
//                  <div class="columns is-mobile">
//                      <li class="column"><a href="#">About</a></li>
//                      <li class="column"><a href="#">FAQ</a></li>
//                  </div>
//                  <div class="columns is-mobile">
//                      <li class="column"><a href="#">Contact</a></li>
//                      <li class="column"><a href="#">Privacy</a></li>
//                  </div>
//              </ul>
//          </div>
//          <div class="column has-text-centered">
//              <p>&copy; Copyright 2017 Real Vision</p>
//          </div>
//          <div class="column is-one-quarter has-text-centered">
//              <ul class="footer-social">
//                  <h4 class='footer-social__heading'>Follow us</h4>
//                  <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
//                  <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
//                  <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
//              </ul>
//          </div>
//      </div>
// </footer>
// 
// Styleguide 2.4
footer {
    background: $color-dark-gray;
    padding: $baseline;
    color: #e3e3e3;
    ul {
        list-style: none;
        margin: 0;
       
        li {
            display: inline;
            margin: auto;

            .fa {
                font-size: $size-3;

                @include tablet {
                    font-size: $size-2;
                }
            }

            a {
                color: #e3e3e3;
                text-decoration: none;
                text-transform: uppercase;
                transition: color 200ms ease-in;

                &:hover {
                    color: $color-rose;
                }
            }
        }
    }

    .footer-social {
        li {
            margin: 0 ($baseline / 2);

            @include tablet {
                margin: 0 4px;
            }

            @include desktop {
                margin: 0 10px;
            }
        }
    }
    .footer-social__heading {
        color: #e3e3e3;
        text-align: center;
        margin: 0 0 $baseline 0;
    }
}


// Paper background
//
// markup:
// <div class="container is-paper">Any content can be placed in a paper background element. <code>.is-paper</code> can be applied on any element</div>
// 
// Styleguide 2.5
.has-paper-background {
    background-image: url('#{$root}/images/components/crinkled-paper-effect.jpg'), url('#{$root}/images/components/crinkled-paper-repeat.jpg');
    background-position: top center;
    background-repeat: no-repeat, repeat;
}
.is-paper {
    @extend .has-paper-background;
    padding: $baseline;

    hr {
        background-color: rgba(0, 0, 0, 0.15);
    }
}