// Grid
// 
// Powered by Bulma. See http://bulma.io/documentation/grid/columns/
// 
// markup:
// <div class="columns">
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">First column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Second column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Third column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Fourth column</div>
//   </div>
// </div>
// <div class="columns">
//   <div class="column is-2">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">First column</div>
//   </div>
//   <div class="column is-2">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Second column</div>
//   </div>
//   <div class="column is-3">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Third column</div>
//   </div>
//   <div class="column is-5">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Fourth column</div>
//   </div>
// </div>
// 
// Styleguide 2.1
.columns {}

.column {}

.child-full-height {
    display: flex;
    > * {
        flex-grow: 1;
    }
}
@include tablet {
    .is-vertically-center:not(.columns) {
        align-items: center;
        display: flex;
    }
    .is-vertically-bottom:not(.columns) {
        align-items: flex-end;
        display: flex;
    }
}

.container {
    margin: 0 auto;
    position: relative;
    @include from($desktop) {
        max-width: $desktop - (2 * $gap);
        width: $desktop - (2 * $gap);
        &.is-fluid {
            margin-left: $gap;
            margin-right: $gap;
            max-width: none;
            width: auto;
        }
    }
    @include until($widescreen) {
        &.is-widescreen {
            max-width: $widescreen - (2 * $gap);
            width: auto;
        }
    }
    @include until($fullhd) {
        &.is-fullhd {
            max-width: $fullhd - (2 * $gap);
            width: auto;
        }
    }
    @include from($widescreen) {
        max-width: $widescreen - (2 * $gap);
        width: $widescreen - (2 * $gap);
    }
    @include from($fullhd) {
        max-width: $fullhd - (2 * $gap);
        width: $fullhd - (2 * $gap);
    }
}

// Vertical Rhythm
//
// Vertical rhythym is on a baseline 1.5rem value (24px). The default line
// height for all text is set to this baseline.
//
// Paragaphs, lists, and blockquotes that follow other elements have a 
// `$baseline * 0.5` margin.
//
// Headings that follow other elements have a `$baseline * 1.5` top margin.
//
// Styleguide 2.2
*+ {
    p,
    pre,
    ul,
    ol,
    dl,
    blockquote {
        margin: $baseline * 0.5 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $baseline * 1.5;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    +* {
        margin-top: $baseline * 0.5;
    }
}


// Page Footer
//
// markup:
// <footer>
//      <div class="columns is-vcentered">
//          <div class="column is-one-quarter has-text-centered">
//              <ul class="footer-links column">
//                  <div class="columns is-mobile">
//                      <li class="column"><a href="#">About</a></li>
//                      <li class="column"><a href="#">FAQ</a></li>
//                  </div>
//                  <div class="columns is-mobile">
//                      <li class="column"><a href="#">Blog</a></li>
//                      <li class="column"><a href="#">Big Stories</a></li>
//                  </div>
//                  <div class="columns is-mobile">
//                      <li class="column"><a href="#">Contact</a></li>
//                      <li class="column"><a href="#">Privacy</a></li>
//                  </div>
//              </ul>
//          </div>
//          <div class="column has-text-centered">
//              <p>&copy; Copyright 2017 Real Vision</p>
//          </div>
//          <div class="column is-one-quarter has-text-centered">
//              <ul class="footer-social">
//                  <h4 class='footer-social__heading'>Follow us</h4>
//                  <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
//                  <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
//                  <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
//              </ul>
//          </div>
//      </div>
// </footer>
// 
// Styleguide 2.4
footer {
    background: $color-dark-gray;
    padding: $baseline;
    color: #e3e3e3;
    ul {
        list-style: none;
        margin: 0;
       
        li {
            display: inline;
            margin: auto;

            .fa {
                font-size: $size-3;

                @include tablet {
                    font-size: $size-2;
                }
            }

            a {
                color: #e3e3e3;
                text-decoration: none;
                text-transform: uppercase;
                transition: color 200ms ease-in;

                &:hover {
                    color: $color-rose;
                }
            }
        }
    }

    .footer-social {
        li {
            margin: 0 ($baseline / 2);

            @include tablet {
                margin: 0 4px;
            }

            @include desktop {
                margin: 0 10px;
            }
        }
    }
    .footer-social__heading {
        color: #e3e3e3;
        text-align: center;
        margin: 0 0 $baseline 0;
    }
}

// Paper background
//
// markup:
// <div class="container is-paper">Any content can be placed in a paper background element. <code>.is-paper</code> can be applied on any element</div>
// 
// Styleguide 2.5
.has-paper-background {
    background-image: url('#{$root}/images/components/crinkled-paper-effect.jpg'), url('#{$root}/images/components/crinkled-paper-repeat.jpg');
    background-position: top center;
    background-repeat: no-repeat, repeat;
}
.is-paper {
    @extend .has-paper-background;
    padding: $baseline;

    hr {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

