// Grid
// 
// Powered by Bulma. See http://bulma.io/documentation/grid/columns/
// 
// markup:
// <div class="columns">
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">First column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Second column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Third column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Fourth column</div>
//   </div>
// </div>
// <div class="columns">
//   <div class="column is-2">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">First column</div>
//   </div>
//   <div class="column is-2">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Second column</div>
//   </div>
//   <div class="column is-3">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Third column</div>
//   </div>
//   <div class="column is-5">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Fourth column</div>
//   </div>
// </div>
// 
// Styleguide 2.1
.columns {}

.column {}

.child-full-height {
    display: flex;
    > * {
        flex-grow: 1;
    }
}

.columns.is-mobile > .column.is-narrow {
    width: auto;
}

.reverse-row-order {
    flex-direction: row-reverse;
}

@include mobile {
    .is-mobile {
        .is-vertically-center:not(.columns) {
            align-items: center;
            display: flex;

            &.has-text-centered {
                justify-content: center;
            }

            .columns {
                flex-grow: 1;
            }
        }
        .is-vertically-bottom:not(.columns) {
            align-items: flex-end;
            display: flex;

            &.has-text-centered {
                justify-content: center;
            }
        }
    }
}

@include tablet {
    .is-vertically-center:not(.columns) {
        align-items: center;
        display: flex;

        &.has-text-centered {
            justify-content: center;
        }

        .columns {
            flex-grow: 1;
        }
    }
    .is-vertically-bottom:not(.columns) {
        align-items: flex-end;
        display: flex;

        &.has-text-centered {
            justify-content: center;
        }
    }
}

.container {
    margin: 0 auto;
    position: relative;
    @include from($desktop) {
        max-width: $desktop - (2 * $gap);
        width: $desktop - (2 * $gap);
        &.is-fluid {
            margin-left: $gap;
            margin-right: $gap;
            max-width: none;
            width: auto;
        }
    }
    @include until($widescreen) {
        &.is-widescreen {
            max-width: $widescreen - (2 * $gap);
            width: auto;
        }
    }
    @include until($fullhd) {
        &.is-fullhd {
            max-width: $fullhd - (2 * $gap);
            width: auto;
        }
    }
    @include from($widescreen) {
        max-width: $widescreen - (2 * $gap);
        width: $widescreen - (2 * $gap);
    }
    @include from($fullhd) {
        max-width: $fullhd - (2 * $gap);
        width: $fullhd - (2 * $gap);
    }
}

.has-padding {
    padding: $baseline !important;
}
.has-margin {
    margin: $baseline !important;
}
.has-margin--tablet {
    @include until($desktop) {
        margin: $baseline !important;
    }
}
.has-padding--tablet {
    @include until($desktop) {
        padding: $baseline !important;
    }
}

// Vertical Rhythm
//
// Vertical rhythym is on a baseline 1.5rem value (24px). The default line
// height for all text is set to this baseline.
//
// Paragaphs, lists, and blockquotes that follow other elements have a 
// `$baseline * 0.5` margin.
//
// Headings that follow other elements have a `$baseline * 1.5` top margin.
//
// Styleguide 2.2
*+ {
    p,
    pre,
    ul,
    ol,
    dl,
    blockquote {
        margin: $baseline * 0.5 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $baseline * 1.5;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    +* {
        margin-top: $baseline * 0.5;
    }
}


// Page Footer
//
// markup:
// <footer>
//      <div class="columns is-vcentered">
//          <div class="column">
//              <ul class="footer-links">
//                  <li><a href="#">About</a></li>
//                  <li><a href="#">FAQ</a></li>
//                  <li><a href="#">Blog</a></li>
//                  <li><a href="#">Big Stories</a></li>
//                  <li><a href="#">Contact</a></li>
//              </ul>
//          </div>
//          <div class="column is-narrow has-text-centered">
//              <ul class="footer-social">
//                  <h4 class='footer-social__heading'>Follow us</h4>
//                  <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
//                  <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
//                  <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
//              </ul>
//          </div>
//      </div>
//      <hr />
//      <div class="columns">
//          <div class="column is-narrow is-vertically-center">
//              <picture>
//                  <source srcset="https://www.realvision.com/wp/app/themes/prospect/images/logos/logo-generic2x.png 2x, https://www.realvision.com/wp/app/themes/prospect/images/logos/logo-generic.png 1x">
//                  <img src="https://www.realvision.com/wp/app/themes/prospect/images/logos/logo-generic.png" alt="Logo">
//              </picture>
//          </div>
//          <div class="column is-vertically-center">
//              <div>
//                  <div class="footer-legal">
//                      <a href="#">Terms and Conditions</a>,
//                      <a href="#">Privacy Policy</a>,
//                      <a href="#">Cookie Policy</a>
//                  </div>
//                  <p class="footer-copyright is-size-7">&copy; Copyright 2017 Real Vision</p>
//              </div>
//          </div>
// </footer>
// 
// Styleguide 2.4
footer {
    background: $color-dark-gray;
    padding: $baseline;
    color: #e3e3e3;
    ul {
        list-style: none;
        margin: 0;
       
        li {
            margin: auto;

            .fa {
                font-size: $size-3;

                @include tablet {
                    font-size: $size-2;
                }
            }



            a {
                color: #fff;
                font-weight: 700;
                text-decoration-color: rgba(255,255,255,0.5);
                transition: color 200ms ease-in;

                &:hover, &:active {
                    color: $color-red-ribbon;
                }
            }
        }
    }

    hr {
        background-color: rgba(255,255,255,0.25);
        margin: 0 0 0.5rem;
    }

    .footer-social {
        li {
            display: inline;
            margin: 0 ($baseline / 2);

            @include tablet {
                margin: 0 4px;
            }

            @include desktop {
                margin: 0 10px;
            }

            a {
                color: #e3e3e3;
                text-decoration: none;
                text-transform: uppercase;
                transition: color 200ms ease-in;

                &:hover, &:active {
                    color: $color-red-ribbon;
                }
            }
        }
    }
    .footer-social__heading {
        color: #e3e3e3;
        text-align: center;
        margin: 0 0 $baseline 0;
    }
    .footer-legal a {
        color: #fff;
        font-size: $size-7;
        text-decoration-color: rgba(255,255,255,0.5);
    }
}

// Paper background
//
// markup:
// <div class="container is-paper">Any content can be placed in a paper background element. <code>.is-paper</code> can be applied on any element</div>
// 
// Styleguide 2.5
.has-paper-background {
    background-image: url('#{$root}/images/components/crinkled-paper-effect.jpg'), url('#{$root}/images/components/crinkled-paper-repeat.jpg');
    background-position: top center;
    background-repeat: no-repeat, repeat;
}
.is-paper {
    @extend .has-paper-background;
    padding: $baseline;

    hr {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

// Spacer Row
//
// An empty colored block to separate components
//
// default - Default
//
// markup:
// <div class="spacer-row">
// </div>
//
// Styleguide 2.6
.spacer-row {
    padding: .5rem;
    background-color: $color-dark-gray;

    @include tablet {
        padding: 1rem;
    }
}

// Poster
//
// default - Default
//
// markup:
// <div class="is-poster">
//     <h2 class="has-text-centered is-size-4 is-uppercase">On soon</h2>
//     <p class="has-text-centered">Android | Amazon Fire TV</p>
// </div>
//
// Styleguide 2.7
.is-poster {
    background: white url('#{$root}/images/components/notification.jpg') repeat-y;
    border-radius: 0 !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.33);
    padding: $baseline;

    *:last-child {
        margin-bottom: 0;
    }
}
:host .is-poster {
    margin: 20px auto;
    max-width: 80%;
}

// Global Footer
//
// markup:
// <footer class="global-footer">
//     <div class="container">
//         <div class="columns">
//             <div class="column is-3">
//                 <img src="https://www.realvision.com/wp/app/themes/prospect/images/logos/generic/white/logo-generic.png?x73428" alt="Logo">
//             </div>
//             <div class="column">
//                 <div class="columns">
//                     <ul class="column is-half">
//                         <li><a href='https://www.realvision.com/about/'>About Us</a></li>
//                         <li><a href='https://www.realvision.com/faq/'>FAQ</a></li>
//                         <li><a href='https://www.realvision.com/founders/'>Founders</a></li>
//                         <li><a href='https://www.realvision.com/contact/'>Contact</a></li>
//                     </ul>
//                     <ul class="column is-half secondary">
//                         <li><a href='https://www.realvision.com/terms/'>Terms and Conditions</a></li>
//                         <li><a href='https://www.realvision.com/privacy/'>Privacy Policy</a></li>
//                         <li><a href='https://www.realvision.com/cookie-policy/'>Cookie Policy</a></li>
//                     </ul>
//                 </div>
//             </div>
//             <div class="column is-3">
//                 <ul class="social">
//                     <li><a href="https://twitter.com/realvision"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
//                     <li><a href="https://www.facebook.com/realvisionvideo/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
//                     <li><a href="https://uk.linkedin.com/company/real-vision"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
//                 </ul>
//             </div>
//         </div>
//         <p class="footer-copyright is-size-7 has-text-centered">&copy; Copyright 2018 Real Vision</p>
//     </div>
// </footer>
//
// Styleguide 2.8
.global-footer {
    background: #000;
    color: white;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    position: relative;
    padding-top: 40px;
    .column {
        text-align: center;
    }
    .secondary a {
        font-weight: 400;
    }

    @include tablet {
        padding-top: 80px;

        .column {
            text-align: left;
        }
        .secondary a {
            font-weight: 700;
        }
    }

    a {
        color: white;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 0;

        &:hover,
        &:focus {
            color: white;
            text-decoration: underline;
        }
    }

    ul.social {
        list-style: none;

        li {
            display: inline-block;
        }

        a {
            margin-left: 20px;
        }

        i {
            font-size: 35px;
        }
    }
}