// Transition
// 
// Vendor prefixed version of css transition property. Webkit, Firefox, Opera
// 
// Styleguide 7.1
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

// Transform
// 
// Vendor prefixed version of css transform property. Webkit, Firefox, Opera
// 
// Styleguide 7.2
@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  transform: $value;
}