body {
    font-family: 'Proxima Nova';
}

// Headings
//
// markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h5>Heading 5</h5>
// <h6>Heading 6</h6>
//
// Styleguide 3.1
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Function Pro';
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-size: $size-1;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

h5 {
    font-size: $size-5;
}

h6 {
    font-size: $size-6;
}

// Inverse Headings
//
// markup:
// <h1 class="is-inverse"><span>Heading 1</span></h1>
// <h2 class="is-inverse"><span>Heading 2</span></h2>
// <h3 class="is-inverse"><span>Heading 3</span></h3>
// <h4 class="is-inverse"><span>Heading 4</span></h4>
// <h5 class="is-inverse"><span>Heading 5</span></h5>
// <h6 class="is-inverse"><span>Heading 6</span></h6>
//
// Styleguide 3.2
h1,h2,h3,h4,h5,h6 {
    $padding: 0.5ex;
    &.is-inverse {
        text-transform: uppercase;
        padding: 0 $padding;
        letter-spacing: 1px;
        line-height: 1.2;
        font-weight: 800;
        color: white;

        span {
            background-color: black;
            box-shadow: $padding 0 0 black, -$padding 0 0 black;
        }
    }
}

// Paragraphs
//
// markup:
// <p>Murenam te accusante defenderem. Si enim ad populum me vocas, eum. Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Primum in nostrane potestate est, quid meminerimus? Immo alio genere; Nunc omni virtuti vitium contrario nomine opponitur. Quorum sine causa fieri nihil putandum est. Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum. Comprehensum, quod cognitum non habet?</p>
// <p>Murenam te accusante defenderem. Si enim ad populum me vocas, eum. Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Primum in nostrane potestate est, quid meminerimus? Immo alio genere; Nunc omni virtuti vitium contrario nomine opponitur. Quorum sine causa fieri nihil putandum est. Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum. Comprehensum, quod cognitum non habet?</p>
//
// Styleguide 3.3
p {
    line-height: $baseline;
}

// Lists
//
// markup:
// <ol>
//     <li>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit?</li>
//     <li>Hoc loco tenere se Triarius non potuit.</li>
//     <li>Qui enim voluptatem ipsam contemnunt, iis licet dicere se acupenserem maenae non anteponere.</li>
//     <li>Itaque rursus eadem ratione, qua sum paulo ante usus, haerebitis.</li>
//     <li>Nam aliquando posse recte fieri dicunt nulla expectata nec quaesita voluptate.</li>
// </ol>
// <ul>
//     <li>Bonum valitudo: miser morbus.</li>
//     <li>Numquam hoc ita defendit Epicurus neque Metrodorus aut quisquam eorum, qui aut saperet aliquid aut ista didicisset.</li>
//     <li>Non quaeritur autem quid naturae tuae consentaneum sit, sed quid disciplinae.</li>
// </ul>
// <dl>
//     <dt>Stoicos roga.</dt>
//     <dd>At tu eadem ista dic in iudicio aut, si coronam times, dic in senatu.</dd>
//     <dt>Ita prorsus, inquam;</dt>
//     <dd>Quid tanto concursu honestissimorum studiorum, tanto virtutum comitatu, si ea nullam ad aliam rem nisi ad voluptatem conquiruntur?</dd>
//     <dt>Iam contemni non poteris.</dt>
//     <dd>Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat.</dd>
//     <dt>Quis hoc dicit?</dt>
//     <dd>Nam his libris eum malo quam reliquo ornatu villae delectari.</dd>
// </dl>
//
// Styleguide 3.4
ul,
ol {
    list-style-position: outside;
    margin-left: $baseline * 1.5;
}

ul {
    list-style-type: disc;
}

li+li {
    margin-top: $baseline * 0.25;
}

dt {
    color: $brand;
    font-weight: 700;
}

dd+dt {
    margin-top: $baseline * 0.25;
}

// Pre blocks
//
// markup:
// <pre>
//     Hunc igitur finem illi tenuerunt, quodque ego pluribus
//     verbis, illi brevius secundum naturam vivere, hoc iis
//     bonorum videbatur extremum.
//     Sit ista in Graecorum levitate perversitas, qui maledictis
//     insectantur eos, a quibus de veritate dissentiunt.
// </pre>
//
// Styleguide 3.5
pre {
    padding: $baseline 0;
    line-height: $baseline;
}

// Blockquote
// 
// markup:
// <blockquote>The quick brown fox jumps over the lazy dog</blockquote>
//
// Styleguide 3.6
blockquote {}

// Anchors
// 
// :link    - Unvisited Link
// :visited - Visited link
// :hover   - Hover state
// :focus   - Focus state
// :active  - Active state
// .disabled - Disable state
// 
// markup:
// <a href="#" class="{$modifiers}">Quo modo autem philosophus loquitur?</a>
// 
// Styleguide 3.7
a {
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: rgba($link, 0.25);
    &:hover {
        text-decoration-color: rgba($link-hover, 0.25);
    }
    &:focus {
        text-decoration-color: rgba($link-focus, 0.25);
    }
    &:active {
        text-decoration-color: rgba($link-active, 0.25);
    }
    &.disabled {
        color: $link;
        cursor: default;
        opacity: 0.5;
        text-decoration: none;
        &:hover, &:focus, &:active {
            color: $link;
        }
    }
}

// Badge
// 
// markup:
// <div class="badge">Analysis</div>
// 
// Styleguide 3.8
.badge {
    background: grey;
    color: white;
    display: inline-block;
    font-size: $size-6;
    padding: 0 5px;
    text-transform: uppercase;
}

// Strap
// 
// markup:
// <p class="strap"><i class="fa fa-info"></i>Shane Oliver is one of Australia's most highly rated economists</p>
// 
// Styleguide 3.9
.strap {
    color: $brand;
    line-height: 26px;

    .fa {
        background: $brand;
        color: black;
        margin-right: 1ex;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: $size-6;
    }
}

// Justify align text in mobile
// 
// markup:
// <p class="has-text-justified-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin viverra pellentesque. Morbi sed orci et turpis consectetur sodales id eget lectus. Curabitur ante arcu, ornare nec iaculis quis, luctus quis magna. Etiam lobortis placerat justo consequat bibendum. Nunc velit magna, ultrices vel mauris vitae, sollicitudin pulvinar turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed libero metus, ornare sit amet tincidunt eu, accumsan at purus.</p>
// 
// Styleguide 3.10
@include mobile {
    .has-text-justified-mobile {
        text-align: justify !important;
    }
}

// Featured numbered list
// 
// markup:
// <div class="featured">
//     <ol>
//         <li>
//             <a>
//                 <div class="columns">
//                     <div class="column">
//                         <div class="meta">Meta info</div>
//                         <div class="item">Main text</div>
//                     </div>
//                 </div>
//             </a>
//         </li>
//         <li>
//             <a>
//                 <div class="columns">
//                     <div class="column">
//                         <div class="meta">Meta info</div>
//                         <div class="item">Main text</div>
//                     </div>
//                 </div>
//             </a>
//         </li>
//         <li>
//             <a>
//                 <div class="columns">
//                     <div class="column">
//                         <div class="item">Main text</div>
//                     </div>
//                 </div>
//             </a>
//         </li>
//     </ol>
// </div>
// 
// Styleguide 3.11
.featured {
    @extend .has-paper-background;
    padding: $baseline;

    ol {
        counter-reset: featured-counter;
        list-style: none;
        margin-left: 0;
        margin-bottom: $baseline;
        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin-top: $baseline / 2;
        position: relative;

        &:first-child {
            margin-top: 0;
        }

        &:before {
            content: counter(featured-counter);
            counter-increment: featured-counter;
            background: #92a0ac;
            color: white;
            display: inline-block;
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            font-family: 'Function Pro', sans-serif;
            font-weight: 700;
            left: 0;
            top: 4px;
            position: absolute;
        }

        a {
            color: black;
            display: block;
            margin-left: calc(0.75rem + 24px);
            font-size: $size-6;
            font-weight: 700;
            text-decoration: none;
        }

        .meta {
            color: #92a0ac;
            font-size: $size-7;
            text-transform: uppercase;
        }

        i {
            color: #92a0ac;
        }

        .columns {
            margin-top: 0;
            margin-bottom: 0;
        }

        .column {
            padding-top: 0;
            padding-bottom: 0;

            &:last-child {
                padding-right: 0;
            }
        }

        .is-link {
            margin-top: 0;
        }
    }
}