// styleguide:ignore:start
$baseline: 1.5rem !default;
$root: '/styleguide' !default;
$fa-font-path:   "#{$root}/fonts/font-awesome" !default;
// styleguide:ignore:end

// Colors
// 
// $color-torch-red - Torch Red
// $color-bright-gray - Bright Gray
// 
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
// 
// Styleguide 1.1
$color-torch-red: #FE1135;
$color-bright-gray: #363D4E;
$color-cyan: #31FEE8;
$text: $color-bright-gray;

// Heading Font 
// 
// Function Pro
// 
// Markup:
// <div style="font-size: 2rem; line-height:1.5; font-family: monospace">(400) <span class="function-pro">The quick brown fox jumps over the lazy dog.</span></div>
// <div style="font-size: 2rem; line-height:1.5; font-family: monospace">(700) <span class="function-pro" style="font-weight: 700;">The quick brown fox jumps over the lazy dog.</span></div>
// <div style="font-size: 2rem; line-height:1.5; font-family: monospace">(800) <span class="function-pro" style="font-weight: 800;">The quick brown fox jumps over the lazy dog.</span></div>
// <div style="font-size: 2rem; line-height:1.5; font-family: monospace">(900) <span class="function-pro" style="font-weight: 900;">The quick brown fox jumps over the lazy dog.</span></div>
// 
// Styleguide 1.3 
@font-face {
    font-family: 'Function Pro';
    src: url('#{$root}/fonts/function-pro/FunctionPro-Book-webfont.eot');
    src: url('#{$root}/fonts/function-pro/FunctionPro-Book-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$root}/fonts/function-pro/FunctionPro-Book-webfont.woff2') format('woff2'),
    url('#{$root}/fonts/function-pro/FunctionPro-Book-webfont.woff') format('woff'),
    url('#{$root}/fonts/function-pro/FunctionPro-Book-webfont.ttf') format('truetype'),
    url('#{$root}/fonts/function-pro/FunctionPro-Book-webfont.svg#function_probook') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Function Pro';
    src: url('#{$root}/fonts/function-pro/FunctionPro-Demi-webfont.eot');
    src: url('#{$root}/fonts/function-pro/FunctionPro-Demi-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$root}/fonts/function-pro/FunctionPro-Demi-webfont.woff2') format('woff2'),
    url('#{$root}/fonts/function-pro/FunctionPro-Demi-webfont.woff') format('woff'),
    url('#{$root}/fonts/function-pro/FunctionPro-Demi-webfont.ttf') format('truetype'),
    url('#{$root}/fonts/function-pro/FunctionPro-Demi-webfont.svg#FunctionPro-Demi-webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Function Pro';
    src: url('#{$root}/fonts/function-pro/FunctionPro-Bold-webfont.eot');
    src: url('#{$root}/fonts/function-pro/FunctionPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$root}/fonts/function-pro/FunctionPro-Bold-webfont.woff2') format('woff2'),
    url('#{$root}/fonts/function-pro/FunctionPro-Bold-webfont.woff') format('woff'),
    url('#{$root}/fonts/function-pro/FunctionPro-Bold-webfont.ttf') format('truetype'),
    url('#{$root}/fonts/function-pro/FunctionPro-Bold-webfont.svg#FunctionPro-Bold-webfont') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Function Pro';
    src: url('#{$root}/fonts/function-pro/FunctionPro-CondensedExtraBd.eot');
    src: url('#{$root}/fonts/function-pro/FunctionPro-CondensedExtraBd.eot?#iefix') format('embedded-opentype'),
    url('#{$root}/fonts/function-pro/FunctionPro-CondensedExtraBd.woff2') format('woff2'),
    url('#{$root}/fonts/function-pro/FunctionPro-CondensedExtraBd.woff') format('woff'),
    url('#{$root}/fonts/function-pro/FunctionPro-CondensedExtraBd.ttf') format('truetype'),
    url('#{$root}/fonts/function-pro/FunctionPro-CondensedExtraBd.svg#FunctionPro-CondensedExtraBd') format('svg');
    font-weight: 900;
    font-style: normal;
}

.function-pro {
    font-family: 'Function Pro' !important;
}

// Body Font 
// 
// Proxima Nova
// 
// Markup:
// <div style="font-size: 2rem; line-height:1.5; font-family: monospace">(400) <span class="proxima-nova" >The quick brown fox jumps over the lazy dog.</span></div>
// <div style="font-size: 2rem; line-height:1.5; font-family: monospace">(700) <span class="proxima-nova" style="font-weight: 700">The quick brown fox jumps over the lazy dog.</span></div>
// 
// Styleguide 1.4 
@font-face {
    font-family: 'Proxima Nova';
    src: url('#{$root}/fonts/proxima-nova/proximanova-regular-webfont.eot');
    src: url('#{$root}/fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$root}/fonts/proxima-nova/proximanova-regular-webfont.woff2') format('woff2'),
    url('#{$root}/fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff'),
    url('#{$root}/fonts/proxima-nova/proximanova-regular-webfont.ttf') format('truetype'),
    url('#{$root}/fonts/proxima-nova/proximanova-regular-webfont.svg#proxima-nova-regular-webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('#{$root}/fonts/proxima-nova/proximanova-bold-webfont.eot');
    src: url('#{$root}/fonts/proxima-nova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$root}/fonts/proxima-nova/proximanova-bold-webfont.woff2') format('woff2'),
    url('#{$root}/fonts/proxima-nova/proximanova-bold-webfont.woff') format('woff'),
    url('#{$root}/fonts/proxima-nova/proximanova-bold-webfont.svg#proxima-nova-bold-webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}

.proxima-nova {
    font-family: 'Proxima Nova' !important;
}

// Grafitti Font 
// 
// Stampete
// 
// Markup:
// <div style="font-size: 2rem; line-height:1.5; font-family: monospace">(400) <span style="font-family: Stampete;">The quick brown fox jumps over the lazy dog.</span></div>
// 
// Styleguide 1.5
@font-face {
    font-family: 'Stampete';
    src: url('#{$root}/fonts/stampete/stampete.eot');
    src: url('#{$root}/fonts/stampete/stampete.eot?#iefix') format('embedded-opentype'),
    url('#{$root}/fonts/stampete/stampete.woff2') format('woff2'),
    url('#{$root}/fonts/stampete/stampete.woff') format('woff'),
    url('#{$root}/fonts/stampete/stampete.ttf') format('truetype'),
    url('#{$root}/fonts/stampete/stampete.svg#stampete') format('svg');
    font-weight: 400;
    font-style: normal;
}


// Font weights
// 
// Markup:
// <div class="function-pro font-weight-normal">Normal</div>
// <div class="function-pro font-weight-bold">Bold</div>
// <div class="function-pro font-weight-extrabold">Extra Bold</div>
// 
// Styleguide 1.6
.font-weight-normal {
    font-weight: 400 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.font-weight-extrabold {
    font-weight: 800 !important;

}