// Colors and fonts
// 
// Styleguide 1.0
@import 'variables';

// Mixins
// 
// Styleguide 7.0
@import 'mixins';

// styleguide:ignore:start
@import 'node_modules/font-awesome/scss/font-awesome';
@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/base/_all';
@import 'node_modules/bulma/sass/grid/_all';
@import 'node_modules/bulma/sass/elements/other';

body {
    overflow-x: initial;
}

// For styleguide
:host {
    color: $text;
    font-family: 'Proxima Nova';
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    .section-markup-wrapper {
        overflow: hidden;
        box-sizing: border-box;
    }
}
// styleguide:ignore:end

// Layout
// 
// Styleguide 2.0
@import 'layout';

// Typography
// 
// Styleguide 3.0
@import 'typography';

// Buttons
//
// Styleguide 4.0
@import 'buttons';

// Components
//
// Styleguide 5.0
@import 'components';

// Dashboard
//
// Styleguide 6.0
@import 'dashboard';