@function encodecolor($string) {
    @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
    @return $string;
}

// Colors and fonts
// 
// Styleguide 1.0
@import 'variables';

// styleguide:ignore:start
@import 'node_modules/font-awesome/scss/font-awesome';
@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/base/_all';
@import 'node_modules/bulma/sass/grid/_all';
@import 'node_modules/bulma/sass/elements/other';
@import 'node_modules/bulma/sass/elements/form';
@import 'node_modules/bulma/sass/elements/icon';
@import 'node_modules/bulma/sass/elements/image';
@import 'node_modules/bulma/sass/elements/notification';
@import 'node_modules/bulma/sass/components/dropdown';

body {
    overflow-x: initial;
}

// For styleguide
:host {
    color: $text;
    font-family: 'Proxima Nova';
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    .section-markup-wrapper {
        overflow: hidden;
        box-sizing: border-box;
    }
    .container {
        margin: 0 auto;
        position: relative;
    }
}
// styleguide:ignore:end

// Layout
// 
// Styleguide 2.0
@import 'layout';

// Typography
// 
// Styleguide 3.0
@import 'typography';

// Buttons
//
// Styleguide 4.0
@import 'buttons';

// Components
//
// Styleguide 5.0
@import 'components';

// Dashboard
//
// Styleguide 6.0
@import 'dashboard';

// Navigation
//
// Styleguide 7.0
@import 'navigation';

// Elements
//
// Styleguide 8.0
@import 'elements';

// Wireframes
//
// Styleguide 9.0
@import 'wireframes';