// Interaction button
// 
// Button for performing a non-navigation action.
// 
// .button  - Default button
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <button class="button {$modifiers}">The quick brown fox</button>
//
// Styleguide 4.1
.button {
    background: $color-torch-red;
    border: 2px solid transparent;
    color: #FFF;
    cursor: pointer;
    font-family: 'Function Pro', sans-serif;
    font-size: $size-5;
    font-weight: 700;
    line-height: 1;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: background 0.2s, border-color 0.2s, color 0.2s;

    &:hover {
        background: transparent;
        border-color: $color-torch-red;
        color: $color-torch-red;
    }

    &:focus {
        background: transparent;
        border-color: $color-torch-red;
        color: $color-torch-red;
        text-decoration: underline;
        text-decoration-color: rgba($color-torch-red, 0.25);
    }
}

// CTA button
// 
// Inherits from interaction button (4.1), but uses an anchor element to signify this
// button is used for navigation.
// 
// .button  - Default button
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <a href="#" class="button {$modifiers}">The quick brown fox</a>
//
// Styleguide 4.2
a.button {
    display: inline-block;
    text-decoration: none;
}

// Product button
// 
// Inherits from cta button (4.2), but inverts the color and hover states
// and adds a 'splatter' image overlay and adds a slight rotation
// 
// .product-button-1  - Variant 1
// .product-button-2 - Variant 2
// .product-button-3 - Variant 3
// .product-button-4 - Variant 4
// :hover   - Hover state
// :focus   - Focus state
// 
// markup:
// <a href="#" class="product-button {$modifiers}">
//      <div class="button">
//          The quick brown fox
//      </div>
// </a>
//
// Styleguide 4.3
.product-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    @include transform(rotate(1deg));

    .button {
        background: transparent;
        color: $color-torch-red;
        border: 4px solid $color-torch-red;
        font-weight: 800;
        padding: .5rem 1rem;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        background: url('#{$root}/images/buttons/splatter-effect.png');
        background-repeat: no-repeat;
        background-size: cover; 
    }

    &:hover {
        .button {
            background: $color-torch-red;
            color: #FFF;
        }
    }

    &:focus {
        .button {
            background: $color-torch-red;
            color: #FFF;
            text-decoration: underline;
            text-decoration-color: rgba(#FFF, 1);
        }
    }

    &.product-button-2 {
        @include transform(rotate(-1deg));

        &:after {
            top: auto;
            bottom: -15px;
            left: 0;
        }
    }

    &.product-button-3 {
        &:after {
            top: 0;
            left: auto;
            right: 0;
        }
    }

    &.product-button-4 {
        @include transform(rotate(-1deg));

        &:after {
            top: auto;
            left: auto;
            bottom: 0;
            right: 0;
        }
    }
}

// Icon button
// 
// .fa-info - More information
// .fa-plus - Add
// .hide-text - Hidden label
// :hover - Hover state
// :focus - Focus state
// 
// markup:
// <button class="icon-button {$modifiers}">Some text</button>
//
// Styleguide 4.4
.icon-button {
    $size: 26px;

    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: 'Proxima Nova', sans-serif;
    position: relative;
    padding-left: $size+10px;
    line-height: $size;

    &.hide-text {
        padding-left: 0;
        font-size: 0;
        width: $size;
        margin-right: 1ex;
    }

    &:before {
        background: grey;
        border: 2px solid grey;
        color: white;
        content: '';
        display: flex;
        height: $size;
        width: $size;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
        justify-content: center;
        font-size: 14px;
        transition: background 0.2s, color 0.2s;
        text-indent: 0;
        @extend .fa;
    }

    &.fa-info:before {
        @extend .fa-info;
    }

    &.fa-plus:before {
        @extend .fa-plus;
    }

    &:hover,
    &:focus {
        text-decoration: underline;

        &:before {
            background: white;
            color: grey;
        }
    }
}

// Play Button
//
// Button with a play icon and duration text - used in the dashboard Tri-Hero (5.6)
// 
// .play-button  - Default button
// :hover   - Hover state
//
// markup:
// <div class="play-button {$modifiers}">
//      <a href="">
//          <div class="play-button__icon">
//              <svg xmlns="http://www.w3.org/200/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 40 50">
//                  <polygon points='0 0, 0 50, 40 25'/>
//              </svg>
//          </div>
//          <div class="play-button__text">
//              <p>24:45</p>
//          </div>
//      </a>
// </div>
// 
// Styleguide 4.5

.play-button {
    max-width: 130px;

    &:hover {
        background: #38444C;

        .play-button__icon {
            svg {
                max-height: 30px;
            }
        }
    }
    .play-button__icon {
        width: 34%;
        height: 35px;
        background: white;
        display: inline-block;
        float: left;
        position: relative;

        svg {
            max-height: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            @include transition(max-height 150ms ease-in);

            polygon {
                fill: #38444C;
            }
        }
    }
    .play-button__text {
        color: white;
        width: 66%;
        height: 35px;
        background: #38444C;
        display: inline-block;
        float: right;
        position: relative;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            font-weight: 700;
        }
    }
}