// Feature Quote
// 
// .default  - Default button
// .large    - Large
// 
// markup:
// <blockquote class="feature-quote {$modifiers}">
//     <div class="icons">
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//         <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//     </div>
//     <p>Pure Gold</p>
//     <cite>Tim Brothers</cite>
// </blockquote>
//
// Styleguide 5.1
.feature-quote {
    display: inline-block;
    text-align: center;

    .icons * {
        display: inline-block;
    }

    .icon-star {
        width: 0.5rem;
        path {
            fill: $color-torch-red;
        }
    }

    p {
        font-family: 'Function Pro', sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 700;
        line-height: 1;
        margin: 0.25rem 0;
    }

    cite {
        font-family: 'Function Pro', sans-serif;
        font-size: 0.75rem;
        font-style: normal;
        line-height: 1;
        opacity: 0.75;
    }

    &.large {
        p {
            font-size: 3rem;
        }

        cite {
            font-size: 1.75rem;
        }

        .icon-star {
            width: 1.5rem;
        }
    }
}

// Hero Image
// 
// A large (optional) clickable hero image.
// 
// markup:
// <div class="hero-image">
//     <a>
//         <img src="http://via.placeholder.com/1600x900" alt="" />
//     </a>
// </div>
//
// Styleguide 5.2
.hero-image {
    img {
        display: block;
        width:100%;
    }
}

// Hero Image with CTA
// 
// A large hero image with text and a CTA button. Full page width.
// 
// markup:
// <div class="hero-image-w-cta">
//     <div class="image" style="background-image: url('http://via.placeholder.com/1600x900')"></div>
//     <div class="container">
//         <p class="column is-half">Vestibulum sed varius urna, ut tempus arcu. Aenean vel velit neque. Phasellus convallis placerat purus vitae tempus. Donec cursus magna non euismod aliquet.</p>
//         <a class="button" href="#">Click here</a>
//     </div>
// </div>
//
// Styleguide 5.3
.hero-image-w-cta {
    position: relative;

    .image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: 50%;
    }

    .container {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }

    p {
        color: #fff;
        font-family: Stampete;
        font-size: $size-1;
        line-height: $size-1;
        margin-bottom: $size-1 * 2;
        padding: 0;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
}

// Avatar badge
// 
// markup:
// <a class="avatar">RV</a>
// 
// Styleguide 5.4
.avatar {
    background: cyan;
    border-radius: 50%;
    border: 2px solid transparent;
    color: #000;
    cursor: pointer;
    display: inline-block;
    height: 46px;
    width: 46px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Function Pro';
}

// Search form
// 
// markup:
// <form method="GET" action="" class="search-form">
//     <input type="text" name="parameters_query" value="" placeholder="Assets, topics..." />
//     <button type="submit" name="search"></button>
// </form>
// 
// Styleguide 5.5
.search-form {
    display: flex;
    margin-top: $baseline / 8;

    input {
        background: rgba(white,0.1);
        border: 0;
        padding: 9px;
        display: block;
        flex-grow: 1;
        font-size: 16px;
    }

    button {
        @extend .fa;
        @extend .fa-search;
        background: rgba(white,0.1);
        border: 0;
        color: white;
        width: 45px;
    }
}

// Spinner
//
// markup:
// <div class="spinner"></div>
// 
// Styleguide 5.6
.spinner {
    border: 1px solid grey;
    border-top-color: transparent !important;
    border-radius: 50%;
    position: relative;
    animation: spinner-rotate 1s linear infinite;
    margin: 0 auto;
    top: 50%;

    width: $baseline * 2;
    height: $baseline * 2;
    border-width: $baseline / 3;
}

@keyframes spinner-rotate {
    0% {
        @include transform(rotate(0));
    }
    100% {
        @include transform(rotate(360deg));
    }
}

// Product Quote
//
// markup:
// <div class="product-quote">
//      <div class="product-quote__content">
//          <p class="product-quote__content-heading">Get exposed to investment ideas and financial insights that you can't get anywhere else.</p>
//          <div class="is-hidden-mobile">
//              <div class="icons">
//                  <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//                  <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//                  <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//                  <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//                  <svg class="icon-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.62292 316.34321" class="icon-star"><path d="M166.31 0l51.395 104.134 114.918 16.698-83.156 81.057 19.63 114.452-102.786-54.038-102.784 54.038 19.63-114.454L0 120.83l114.918-16.698z" /></svg>
//              </div>
//              <blockquote>
//                  <svg class="icon-quote icon-quote--open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path class="icon-quote-fill" d="M68.2 163.1c-5.4-88 32-104 32-104s-.1-33 0-33.3C5.1 51.2 9.6 167.1 9.6 167.1v98.7h102.7V163.1s-30-.5-44.1 0zm173.4 0c-5.4-88 32-104 32-104s-.1-33 0-33.3C178.5 51.2 183 167.1 183 167.1v98.7h102.7V163.1s-30-.5-44.1 0z"/></svg>
//                  <p>I have gone through the rabbit hole with Real Vision and found some great leaders and thinkers that have expanded my investment horizons. I am grateful for the introduction to these great minds that I would never have heard about as an individual investor.</p>
//                  <svg class="icon-quote icon-quote--close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path class="icon-quote-fill" d="M227.1 128.5c5.4 88-32 104-32 104s.1 33 0 33.3c95.1-25.4 90.6-141.3 90.6-141.3V25.8H183v102.7s30 .5 44.1 0zm-173.4 0c5.4 88-32 104-32 104s.1 33 0 33.3c95.1-25.4 90.6-141.3 90.6-141.3V25.8H9.6v102.7s30 .5 44.1 0z"></path></svg>
//              </blockquote>
//              <hr/>
//              <cite>Alain B.</cite>
//          </div>
//      </div>
// </div>
// 
// Styleguide 5.7
.product-quote {
    padding: $baseline;
    position: relative;

    @include mobile {
        padding: 0;

        &:before {
            position: absolute;
            content: '';
            z-index: 10;
            height: 0;
            width: 0;
            top: 50%;
            @include transform(translateY(-50%));
            border-top: 2rem solid transparent;
            border-bottom: 2rem solid transparent;
            border-left: 1.5rem solid #363D4E;
        }
    }

    .product-quote__content {
        background: url('#{$root}/images/components/crinkled-paper-effect.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding: $baseline ($baseline * 2);

        .product-quote__content-heading {
            font-size: $size-4;
            font-weight: bold;
            margin-bottom: $baseline;

            @include mobile {
                margin-bottom: 0;
            }
        }

        .icons {
            text-align: center;
            margin-bottom: $baseline;
        }

        .icons * {
            display: inline-block;
        }

        .icon-star {
            width: 1rem;
            path {
                fill: $color-torch-red;
            }
        }

        blockquote {
            margin-left: 20px;

            svg {
                fill: #6e7789;
                width: 20px;

                &.icon-quote--open {
                    margin-left: -20px;
                }
            }

            p {
                display: inline;
                font-weight: bold;
                color: #6e7789;
            }
        }

        cite {
            margin-left: 20px;
            font-style: normal;
            font-weight: bold;
            color: #6e7789;
        }
        
        hr {
            width: 50%;
            margin-left: 20px;
            background: #6e7789;
        }
    }
}

// Rating
//
// markup:
// <div class="rating">
//     <div class="columns is-mobile">
//         <div class="column">
//             <a class="like" href=""><i class="fa fa-thumbs-up"></i> <span>75</span></a>
//         </div>
//         <div class="column has-text-right">
//             <a class="dislike inactive" href=""><span>25</span> <i class="fa fa-thumbs-down"></i></a>
//         </div>
//     </div>
//     <div class="progress"><div style="width: calc(75 / (75 + 25) * 100%)"></div></div>
// </div>
// 
// Styleguide 5.8
.rating {
    .columns {
        margin-top: 0;
        margin-bottom: 0;
    }
    .progress {
        background: #dbdbdb;
        height: 3px;

        div {
            width: 0;
            background: #23d160;
            height: 3px;
        }
    }
    a {
        &.inactive {
            color: $color-torch-red;
        }

        i {
            font-size: $size-6;
            line-height: $size-4;
        }
    }
}

// Comments
//
// markup:
// <div class="comments">
//     <ul>
//         <li class="comment">
//             <div class="columns">
//                 <div class="column is-narrow is-hidden-mobile">
//                     <span class="avatar">RV</span>
//                 </div>
//                 <div class="column comment--content">
//                     <div class="meta">
//                         <div class="details">
//                             <p class="name">John Smith</p>
//                             <p class="date">12 July 2017 @ 04:10</p>
//                             <div class="buttons">
//                                 <a class="active" href=""><i class="fa fa-thumbs-up"></i> <span>75</span></a>
//                                 <a class="active" href=""><i class="fa fa-thumbs-down"></i> <span>25</span></a>
//                             </div>
//                         </div>
//                     </div>
//                     <div class="content">
//                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin viverra pellentesque. Morbi sed orci et turpis consectetur sodales id eget lectus. Curabitur ante arcu, ornare nec iaculis quis, luctus quis magna. Etiam lobortis placerat justo consequat bibendum. Nunc velit magna, ultrices vel mauris vitae, sollicitudin pulvinar turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed libero metus, ornare sit amet tincidunt eu, accumsan at purus.
//                         <div>
//                             <button class="button--reply is-link">Reply <i class="fa fa-reply" aria-hidden="true"></i></a>
//                         </div>
//                     </div>
//                 </div>
//             </div>
//             <form method="POST" class="add-reply">
//                 <div class="field">
//                     <div class="control">
//                         <textarea type="text" name="reply" class="textarea" rows="2" required placeholder="Reply..."></textarea>
//                     </div>
//                 </div>
//                 <div class="field is-grouped">
//                     <div class="control">
//                         <input type="submit" name="submit" value="Reply" class="button" />
//                     </div>
//                     <div class="control">
//                         <button class="button--cancel is-link">Cancel</button>
//                     </div>
//                 </div>
//             </form>
//             <div class="replies-view expanded">
//                 <ul>
//                     <li class="comment comment--reply">
//                         <div class="columns">
//                             <div class="column is-narrow is-hidden-mobile">
//                                 <span class="avatar">RV</span>
//                             </div>
//                             <div class="column comment--content">
//                                 <div class="meta">
//                                     <div class="details">
//                                         <p class="name">Real Vision</p>
//                                         <p class="date">12 July 2017 @ 04:10</p>
//                                         <div class="buttons">
//                                             <a class="active" href=""><i class="fa fa-thumbs-up"></i> <span>75</span></a>
//                                             <a class="active" href=""><i class="fa fa-thumbs-down"></i> <span>25</span></a>
//                                         </div>
//                                     </div>
//                                 </div>
//                                 <div class="content">
//                                 Ut fringilla scelerisque eros. Nulla ac malesuada augue. Nullam nec rhoncus justo. Fusce pellentesque dapibus libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum erat urna, euismod vel risus in, vulputate auctor massa. Duis dignissim blandit porttitor. Duis tincidunt quis justo sed condimentum. Nulla vulputate posuere neque, nec posuere quam fermentum eu. Proin ut risus tortor.
//                                 </div>
//                             </div>
//                         </div>
//                     </li>
//                 </ul>
//             </div>
//         </li>
//         <li class="comment">
//             <div class="columns">
//                 <div class="column is-narrow is-hidden-mobile">
//                     <span class="avatar">RV</span>
//                 </div>
//                 <div class="column comment--content">
//                     <div class="meta">
//                         <div class="details">
//                             <p class="name">John Smith</p>
//                             <p class="date">12 July 2017 @ 04:10</p>
//                             <div class="buttons">
//                                 <span class="badge">Hotly Debated</span>
//                                 <a class="active" href=""><i class="fa fa-thumbs-up"></i> <span>75</span></a>
//                                 <a class="active" href=""><i class="fa fa-thumbs-down"></i> <span>25</span></a>
//                             </div>
//                         </div>
//                     </div>
//                     <div class="content">
//                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin viverra pellentesque. Morbi sed orci et turpis consectetur sodales id eget lectus. Curabitur ante arcu, ornare nec iaculis quis, luctus quis magna. Etiam lobortis placerat justo consequat bibendum. Nunc velit magna, ultrices vel mauris vitae, sollicitudin pulvinar turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed libero metus, ornare sit amet tincidunt eu, accumsan at purus.
//                         <div>
//                             <button class="button--reply is-link">Reply <i class="fa fa-reply" aria-hidden="true"></i></a>
//                         </div>
//                     </div>
//                 </div>
//             </div>
//             <form method="POST" class="add-reply is-hidden">
//                 <div class="field">
//                     <div class="control">
//                         <textarea type="text" name="reply" class="textarea" rows="2" required placeholder="Reply..."></textarea>
//                     </div>
//                 </div>
//                 <div class="field is-grouped">
//                     <div class="control">
//                         <input type="submit" name="submit" value="Reply" class="button" />
//                     </div>
//                     <div class="control">
//                         <button class="button--cancel is-link">Cancel</button>
//                     </div>
//                 </div>
//             </form>
//             <div class="replies-view">
//                 <ul>
//                     <li class="comment comment--reply">
//                         <div class="columns">
//                             <div class="column is-narrow is-hidden-mobile">
//                                 <span class="avatar">RV}</span>
//                             </div>
//                             <div class="column comment--content">
//                                 <div class="meta">
//                                     <div class="details">
//                                         <p class="name">Real Vision}</p>
//                                         <p class="date">12 July 2017 @ 04:10</p>
//                                         <div class="buttons">
//                                             <a class="active" href=""><i class="fa fa-thumbs-up"></i> <span>75</span></a>
//                                             <a class="active" href=""><i class="fa fa-thumbs-down"></i> <span>25</span></a>
//                                         </div>
//                                     </div>
//                                 </div>
//                                 <div class="content">
//                                 Ut fringilla scelerisque eros. Nulla ac malesuada augue. Nullam nec rhoncus justo. Fusce pellentesque dapibus libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum erat urna, euismod vel risus in, vulputate auctor massa. Duis dignissim blandit porttitor. Duis tincidunt quis justo sed condimentum. Nulla vulputate posuere neque, nec posuere quam fermentum eu. Proin ut risus tortor.
//                                 </div>
//                             </div>
//                         </div>
//                     </li>
//                 </ul>
//             </div>
//         </li>
//     </ul>
// </div>
// 
// Styleguide 5.9
.comments {
    ul {
        list-style: none;
        padding: 0;
        margin-left: 0;

        ul {
            list-style: none;
        }
    }

    .comment {
        margin-bottom: $baseline / 2;
        border-bottom: 1px solid rgba(0,0,0,0.1);

        &:last-child {
            border-bottom: 0;
        }
    }
    .avatar {
        line-height: 44px;
    }
    .name {
        font-weight: 700;
        margin-bottom: 0;
    }
    .date {
        font-size: $size-7;
        margin-top: 0;
    }
    .comment--reply {
        margin-bottom: 0;
        padding-bottom: $baseline;
        border-bottom: 0;

        .avatar {
            width: 32px;
            height: 32px;
            line-height: 30px;
            font-size: 13px;
        }
    }
    .details {
        position: relative;
    }
    .meta .buttons {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 15px;
        a {
            margin-left: 1em;

            &.inactive {
                color: $color-torch-red;
            }

            i {
                font-size: $size-7;
                line-height: $size-5;
            }
        }
        .badge {
            font-weight: 700;
        }
    }
    .replies-view {
        height: 0;
        overflow: hidden;
        margin-top: 10px;
        background: rgba(0,0,0,0.05);
        position: relative;

        &.expanded {
            padding: $baseline $baseline 0 $baseline;
            height: auto;
        }

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: $baseline * 2;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to top, transparent, white);
        }
    }

    .like i {
        margin-right: 1ex;
    }
    .dislike i {
        margin-left: 1ex;
    }

    @include tablet {
        .add-reply {
            margin-left: $baseline * 3;
        }
        .comment--reply {
            margin-left: $baseline * 3;
        }
        .replies-view.expanded {
            padding: $baseline $baseline 0 0;
        }
    }
}

// Endorsements Block
//
// markup:
// <div class="endorsements">
//      <div class="columns is-mobile is-vcentered">
//          <div class="column is-6">
//              <img src="/images/logos/logo-cfa.png"/>
//          </div>
//          <div class="column is-4 is-offset-2">
//              <img src="/images/logos/logo-cisi.png"/>
//          </div>
//      </div>
//      <div class="columns is-mobile is-vcentered">
//          <div class="column is-3">
//              <img src="/images/logos/logo-cfp.png"/>
//          </div>
//          <div class="column is-4 is-offset-1">
//              <img src="/images/logos/logo-cambridge.png"/>
//          </div>
//          <div class="column is-3 is-offset-1">
//              <img src="/images/logos/logo-ciipa.png"/>
//          </div>
//      </div>
// </div>
// 
// Styleguide 5.10
.endorsements {
    background: white;
    padding: $baseline ($baseline * 2);
    @include mobile {
        padding: $baseline;
        background: #363e4e;
    }
}

// Product Hero - 3x1
//
// .default - Default Hero
// .hide-cta - Hero without CTA Button
//
// markup:
// <div class="product-hero product-hero--3x1 {$modifiers}">
//      <div class="columns is-mobile">
//          <div class="column">
//              <h2><span>What the hell is real vision television?</span></h2>
//          </div>
//      </div>
//      <div class="columns">
//          <div class="column product-hero__cell-container">
//              <div class="product-hero__cell">
//                  <h3><span>Unbiased</span></h3>
//                  <p><span>Financial Insight</span></p>
//              </div>
//              <div class="product-hero__cell">
//                  <h3><span>Unfiltered</span></h3>
//                  <p><span>Actionable Ideas</span></p>
//              </div>
//              <div class="product-hero__cell">
//                  <h3><span>Unapologetic</span></h3>
//                  <p><span>Smart Opinions</span></p>
//              </div>
//          </div>
//          <div class="column has-text-centered hero-cta__container">
//              <a href="#" class="button">Read More</a>
//          </div>
//      </div>
// </div>
// 
// Styleguide 5.11
.product-hero {
    &.product-hero--3x1 {
        background: url('#{$root}/images/components/product-hero-bg.png');

        h2 {
            margin-bottom: $baseline;
        }

        .product-hero__cell-container {
            padding-bottom: $baseline / 2;

            @include mobile {
                padding-bottom: 0;
            }
            .product-hero__cell {
                margin-bottom: $baseline;
            }
        }
    }
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding: $baseline ($baseline * 2);
    text-transform: uppercase;

    @include mobile {
        padding: $baseline;
    }

    em {
        font-style: normal;
        color: $color-torch-red;
    }

    h2, h3 {
        margin-bottom: $baseline * 2;
        span {
            margin: 0;
            font-weight: 800;
        }
        @include mobile {
            margin-bottom: $baseline;
        }
    }
    h2 {
        line-height: 49px;
        span {
            font-size: $size-2;
            color: black;
            background-color: white;
            box-shadow: 10px 0 0 white, -10px 0 0 white;
        }

        @include mobile {
            line-height: 24px;
            span {
                font-size: $size-4;
            }
        }
    }
    h3 {
        line-height: 36px;
        span {
            font-size: $size-3;
            color: white;
            background-color: black;
            box-shadow: 10px 0 0 black, -10px 0 0 black;
        }

        @include mobile {
            line-height: 26px;
            span {
                font-size: $size-4;
            }
        }
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 28px;
        span {
            font-weight: 800;
            font-size: $size-5;
            color: white;
            background-color: black;
            box-shadow: 10px 0 0 black, -10px 0 0 black;
        }

        @include mobile {
            line-height: 23px;
            span {
                font-size: $size-6;
            }
            br {
                display: none;
            }
        }
    }
    .product-hero__sub-head {
        span {
            color: black;
            background-color: white;
            box-shadow: 10px 0 0 white, -10px 0 0 white;
        }
    }
    .product-hero__cell-container {
        padding-bottom: 0;

        @include mobile {
            margin-bottom: $baseline / 2;
        }
        .product-hero__cell {
            margin-bottom: $baseline * 2;

            h3 {
                margin-bottom: 0;
            }

            @include mobile {
                margin-bottom: $baseline;
            }
        }

        .product-hero__cell:last-child {
            margin-bottom: 0;
        }
    }
    h3:last-child {
        margin-bottom: 0;
    }
    a {
        position: absolute;
        right: ($baseline * 2);
        bottom: $baseline;
        background: $color-cyan;
        color: black;
        font-weight: 800;
        padding: ($baseline / 3);
        font-size: $size-4;

        &:hover {
            background: black;
            color: $color-cyan;
            border: solid 2px $color-cyan;
        }

        @include mobile {
            position: relative;
            right: auto;
            bottom: auto;
            font-size: $size-6;
        }
    }
    &.hide-cta {
        .hero-cta__container {
            display: none;
        }
    }
}

// Product Hero - 3x2
//
// .default - Default Hero
// .hide-cta - Hero without CTA Button
//
// markup:
// <div class="product-hero product-hero--3x2 {$modifiers}">
//      <div class="columns is-mobile">
//          <div class="column">
//              <h2><span>With Real Vision Television, You Get...</span></h2>
//          </div>
//      </div>
//      <div class="columns is-hidden-mobile">
//          <div class="column is-5">
//              <h3 class="product-hero__sub-head"><span>Let's Start with what you don't get:</span></h3>
//          </div>
//          <div class="column is-5 is-offset-2">
//              <h3 class="product-hero__sub-head"><span>So, what do you get with us?</span></h3>
//          </div>
//      </div>
//      <div class="columns">
//          <div class="column is-hidden-mobile is-5-tablet product-hero__cell-container">
//              <div class="product-hero__cell">
//                  <h3><span>No ads</span></h3>
//                  <p><span>To interrupt you</span></p>
//              </div>
//              <div class="product-hero__cell">
//                  <h3><span>No bias</span></h3>
//                  <p><span>To sway you</span></p>
//              </div>
//              <div class="product-hero__cell">
//                  <h3><span>No hype</span></h3>
//                  <p><span>To distract you</span></p>
//              </div>
//          </div>
//          <div class="column is-5-tablet is-offset-2-tablet product-hero__cell-container">
//              <div class="product-hero__cell">
//                  <h3><span>Reliable</span></h3>
//                  <p><span>Insight</span></p>
//              </div>
//              <div class="product-hero__cell">
//                  <h3><span>Intelligent</span></h3>
//                  <p><span>Opinions</span></p>
//              </div>
//              <div class="product-hero__cell">
//                  <h3><span>Actionable</span></h3>
//                  <p><span>Ideas</span></p>
//              </div>
//          </div>
//      </div>
//      <div class="columns has-text-centered hero-cta__container">
//          <a href="#" class="button">Read More</a>
//      </div>
// </div>
// 
// Styleguide 5.12
.product-hero--3x2 {
    background: url('#{$root}/images/components/product-hero-bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: ($baseline * 4);

    @include mobile {
        padding: $baseline;

        .hero-cta__container {
            margin-top: $baseline / 3;
        }
    }

    .product-hero__cell-container {
        .product-hero__cell {
            margin-bottom: $baseline;
        }
    }

    &.hide-cta {
        padding-bottom: $baseline / 2;
    }
}

// Product Hero - 2x2
//
// .default - Default Hero
// .hide-cta - Hero without CTA Button
//
// markup:
// <div class="product-hero product-hero--2x2 {$modifiers}">
//      <div class="columns is-mobile">
//          <div class="column">
//              <h2><span>With Real Vision Television, You Get...</span></h2>
//          </div>
//      </div>
//      <div class="columns">
//          <div class="column is-6-tablet product-hero__cell-container">
//              <div class="product-hero__cell">
//                  <h3><span>One Hundred</span></h3>
//                  <p><span>Research reports per year covering<br/> all aspects of financial markets</span></p>
//              </div>
//              <div class="product-hero__cell">
//                  <h3><span>Thirty</span></h3>
//                  <p><span>Independent investment<br/> research experts</span></p>
//              </div>
//          </div>
//          <div class="column is-6-tablet product-hero__cell-container">
//              <div class="product-hero__cell">
//                  <h3><span>Two</span></h3>
//                  <p><span>Research reports<br/> per week</span></p>
//              </div>
//              <div class="product-hero__cell">
//                  <h3><span>One</span></h3>
//                  <p><span>Weekly Newsletter, <em>The hack</em>,<br/> delivered straight to your inbox</span></p>
//              </div>
//          </div>
//      </div>
//      <div class="columns has-text-centered hero-cta__container">
//          <a href="#" class="button">Read More</a>
//      </div>
// </div>
// 
// Styleguide 5.13
.product-hero--2x2 {
    background: url('#{$root}/images/components/product-hero-bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    padding-bottom: ($baseline * 4);

    @include mobile {
        padding: $baseline;

        .hero-cta__container {
            margin-top: $baseline / 3;
        }
    }

    h2 {
        margin-bottom: $baseline / 2;
    }

    &.hide-cta {
        padding-bottom: $baseline / 2;
    }
}

// Product Hero - Descriptive
//
// .default - Default Hero
// .hide-cta - Hero without CTA Button
// .hide-heading - Hero without main block heading
// .content-left - Hero with left aligned content and CTA
// .content-right - Hero with right aligned content and CTA
//
// markup:
// <div class="product-hero product-hero--descriptive {$modifiers}">
//      <div class="columns is-mobile">
//          <div class="column product-hero--heading">
//              <h2><span>Leading Institutions give us the thumbs up too...</span></h2>
//          </div>
//      </div>
//      <div class="columns">
//          <div class="column">
//              <p><span>Real Vision Television is accredited by some of the most respected financial and educational institutions across the globe, including:</span></p>
//          </div>
//      </div>
//      <div class="columns has-text-centered hero-cta__container">
//          <a href="#" class="button">Read More</a>
//      </div>
// </div>
// 
// Styleguide 5.14
.product-hero--descriptive {
    background: url('#{$root}/images/components/product-hero-bg-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: ($baseline * 4);

    @include mobile {
        padding: $baseline;
    }

    h2 {
        margin-bottom: $baseline;
    }

    p {
        line-height: 32px;
        span {
            font-size: $size-4;
        }

        @include mobile {
            line-height: 23px;
            span {
                font-size: $size-6;
            }
        }
    }
    a {
        margin-right: -10px;
        @include mobile {
            margin-right: auto;
        }
    }

    &.hide-heading {
        .product-hero--heading {
            display: none;
        }
    }

    &.hide-cta {
        padding-bottom: $baseline / 2;
    }

    &.content-left {
        text-align: left;
        a {
            margin-left: -10px;
            margin-right: auto;
            left: ($baseline * 2);
            right: auto;

            @include mobile {
                left: auto;
            }
        }
    }

    &.content-right {
        text-align: right;
    }
}