// Grid
// 
// Powered by Bulma. See http://bulma.io/documentation/grid/columns/
// 
// markup:
// <div class="columns">
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">First column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Second column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Third column</div>
//   </div>
//   <div class="column">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Fourth column</div>
//   </div>
// </div>
// <div class="columns">
//   <div class="column is-2">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">First column</div>
//   </div>
//   <div class="column is-2">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Second column</div>
//   </div>
//   <div class="column is-3">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Third column</div>
//   </div>
//   <div class="column is-5">
//     <div style="background: #3273dc; color: white; padding: 5px; text-align: center">Fourth column</div>
//   </div>
// </div>
// 
// Styleguide 1.1
.columns {}

.column {}

// Vertical Rhythm
//
// Vertical rhythym is on a baseline 1.5rem value (24px). The default line
// height for all text is set to this baseline.
//
// Paragaphs, lists, and blockquotes that follow other elements have a 
// `$baseline * 0.5` margin.
//
// Headings that follow other elements have a `$baseline * 1.5` top margin.
//
// Styleguide 1.2
*+ {
    p,
    pre,
    ul,
    ol,
    dl,
    blockquote {
        margin: $baseline * 0.5 0;
    }
}

*+ {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $baseline * 1.5;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    +* {
        margin-top: $baseline * 0.5;
    }
}