.sr-only-focusable.pseudo-class-active,
.sr-only-focusable.pseudo-class-focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

a.pseudo-class-hover {
  color: #363636;
}

a.has-text-white.pseudo-class-hover,
a.has-text-white.pseudo-class-focus {
  color: #e6e6e6;
}

a.has-text-black.pseudo-class-hover,
a.has-text-black.pseudo-class-focus {
  color: black;
}

a.has-text-light.pseudo-class-hover,
a.has-text-light.pseudo-class-focus {
  color: #dbdbdb;
}

a.has-text-dark.pseudo-class-hover,
a.has-text-dark.pseudo-class-focus {
  color: #1c1c1c;
}

a.has-text-primary.pseudo-class-hover,
a.has-text-primary.pseudo-class-focus {
  color: #009e86;
}

a.has-text-info.pseudo-class-hover,
a.has-text-info.pseudo-class-focus {
  color: #205bbc;
}

a.has-text-success.pseudo-class-hover,
a.has-text-success.pseudo-class-focus {
  color: #1ca64c;
}

a.has-text-warning.pseudo-class-hover,
a.has-text-warning.pseudo-class-focus {
  color: #ffd324;
}

a.has-text-danger.pseudo-class-hover,
a.has-text-danger.pseudo-class-focus {
  color: #ff0537;
}

.columns.pseudo-class-last-child {
  margin-bottom: -0.75rem;
}

.columns.is-gapless.pseudo-class-last-child {
  margin-bottom: 0;
}

.tile.is-ancestor.pseudo-class-last-child {
  margin-bottom: -0.75rem;
}

.delete.pseudo-class-hover,
.delete.pseudo-class-focus {
  background-color: rgba(10, 10, 10, 0.3);
}

.delete.pseudo-class-active {
  background-color: rgba(10, 10, 10, 0.4);
}

a.pseudo-class-hover {
  text-decoration-color: rgba(54, 54, 54, 0.25);
}

a.pseudo-class-focus {
  text-decoration-color: rgba(54, 54, 54, 0.25);
}

a.pseudo-class-active {
  text-decoration-color: rgba(54, 54, 54, 0.25);
}

.button.pseudo-class-hover {
  background: transparent;
  border-color: #FE1135;
  color: #FE1135;
}

.button.pseudo-class-focus {
  background: transparent;
  border-color: #FE1135;
  color: #FE1135;
  text-decoration: underline;
  text-decoration-color: rgba(254, 17, 53, 0.25);
}

.product-button.pseudo-class-hover .button {
  background: #FE1135;
  color: #FFF;
}

.product-button.pseudo-class-focus .button {
  background: #FE1135;
  color: #FFF;
  text-decoration: underline;
  text-decoration-color: white;
}

.icon-button.pseudo-class-hover,
.icon-button.pseudo-class-focus {
  text-decoration: underline;
}

.icon-button.pseudo-class-hover:before,
.icon-button.pseudo-class-focus:before {
  background: white;
  color: grey;
}

.play-button.pseudo-class-hover {
  background: #38444C;
}

.play-button.pseudo-class-hover .play-button__icon svg {
  max-height: 30px;
}

.content-tile a.pseudo-class-hover blockquote,
.content-tile a.pseudo-class-hover .icon,
.content-tile a.pseudo-class-hover .image:after,
.content-tile a.pseudo-class-focus blockquote,
.content-tile a.pseudo-class-focus .icon,
.content-tile a.pseudo-class-focus .image:after {
  opacity: 1;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.content-tile a.pseudo-class-hover .buttons,
.content-tile a.pseudo-class-focus .buttons {
  margin-top: 0.75rem;
  max-height: 50px;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.content-tile.double .content li a.pseudo-class-hover {
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.content-tile.double .content .button.pseudo-class-hover {
  color: #FE1135;
}

.content-tile.double .content .button.pseudo-class-focus {
  color: #FE1135;
}

.content-tile.double.pseudo-class-hover .content,
.content-tile.double.pseudo-class-focus .content {
  transform: translateY(0);
  transition: transform 0.2s;
  transition-delay: 0s;
}