.sr-only-focusable.pseudo-class-active,
.sr-only-focusable.pseudo-class-focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

a.pseudo-class-hover {
  color: #363636;
}

a.has-text-white.pseudo-class-hover,
a.has-text-white.pseudo-class-focus {
  color: #e6e6e6 !important;
}

a.has-text-black.pseudo-class-hover,
a.has-text-black.pseudo-class-focus {
  color: black !important;
}

a.has-text-light.pseudo-class-hover,
a.has-text-light.pseudo-class-focus {
  color: #dbdbdb !important;
}

a.has-text-dark.pseudo-class-hover,
a.has-text-dark.pseudo-class-focus {
  color: #1c1c1c !important;
}

a.has-text-primary.pseudo-class-hover,
a.has-text-primary.pseudo-class-focus {
  color: #009e86 !important;
}

a.has-text-info.pseudo-class-hover,
a.has-text-info.pseudo-class-focus {
  color: #205bbc !important;
}

a.has-text-success.pseudo-class-hover,
a.has-text-success.pseudo-class-focus {
  color: #1ca64c !important;
}

a.has-text-warning.pseudo-class-hover,
a.has-text-warning.pseudo-class-focus {
  color: #ffd324 !important;
}

a.has-text-danger.pseudo-class-hover,
a.has-text-danger.pseudo-class-focus {
  color: #ff0537 !important;
}

.columns.pseudo-class-last-child {
  margin-bottom: -0.75rem;
}

.columns.is-gapless.pseudo-class-last-child {
  margin-bottom: 0;
}

.tile.is-ancestor.pseudo-class-last-child {
  margin-bottom: -0.75rem;
}

.delete.pseudo-class-hover,
.delete.pseudo-class-focus {
  background-color: rgba(10, 10, 10, 0.3);
}

.delete.pseudo-class-active {
  background-color: rgba(10, 10, 10, 0.4);
}

.input.pseudo-class-focus,
.input.pseudo-class-active,
.textarea.pseudo-class-focus,
.textarea.pseudo-class-active {
  outline: none;
}

.input.pseudo-class-hover,
.textarea.pseudo-class-hover {
  border-color: #b5b5b5;
}

.input.pseudo-class-focus,
.input.pseudo-class-active,
.textarea.pseudo-class-focus,
.textarea.pseudo-class-active {
  border-color: #00d1b2;
}

.checkbox.pseudo-class-hover,
.radio.pseudo-class-hover {
  color: #363636;
}

.select select.pseudo-class-focus,
.select select.pseudo-class-active {
  outline: none;
}

.select select.pseudo-class-hover {
  border-color: #b5b5b5;
}

.select select.pseudo-class-focus,
.select select.pseudo-class-active {
  border-color: #00d1b2;
}

.select select.pseudo-class-hover {
  border-color: #b5b5b5;
}

.select select.pseudo-class-focus,
.select select.pseudo-class-active {
  border-color: #00d1b2;
}

.select select[disabled].pseudo-class-hover {
  border-color: whitesmoke;
}

.select.pseudo-class-hover::after {
  border-color: #363636;
}

.file.is-white.pseudo-class-hover .file-cta {
  background-color: #f9f9f9;
  border-color: transparent;
  color: #0a0a0a;
}

.file.is-white.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.25);
  color: #0a0a0a;
}

.file.is-white.pseudo-class-active .file-cta {
  background-color: #f2f2f2;
  border-color: transparent;
  color: #0a0a0a;
}

.file.is-black.pseudo-class-hover .file-cta {
  background-color: #040404;
  border-color: transparent;
  color: white;
}

.file.is-black.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(10, 10, 10, 0.25);
          box-shadow: 0 0 0.5em rgba(10, 10, 10, 0.25);
  color: white;
}

.file.is-black.pseudo-class-active .file-cta {
  background-color: black;
  border-color: transparent;
  color: white;
}

.file.is-light.pseudo-class-hover .file-cta {
  background-color: #eeeeee;
  border-color: transparent;
  color: #363636;
}

.file.is-light.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(245, 245, 245, 0.25);
          box-shadow: 0 0 0.5em rgba(245, 245, 245, 0.25);
  color: #363636;
}

.file.is-light.pseudo-class-active .file-cta {
  background-color: #e8e8e8;
  border-color: transparent;
  color: #363636;
}

.file.is-dark.pseudo-class-hover .file-cta {
  background-color: #2f2f2f;
  border-color: transparent;
  color: whitesmoke;
}

.file.is-dark.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(54, 54, 54, 0.25);
          box-shadow: 0 0 0.5em rgba(54, 54, 54, 0.25);
  color: whitesmoke;
}

.file.is-dark.pseudo-class-active .file-cta {
  background-color: #292929;
  border-color: transparent;
  color: whitesmoke;
}

.file.is-primary.pseudo-class-hover .file-cta {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}

.file.is-primary.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
          box-shadow: 0 0 0.5em rgba(0, 209, 178, 0.25);
  color: #fff;
}

.file.is-primary.pseudo-class-active .file-cta {
  background-color: #00b89c;
  border-color: transparent;
  color: #fff;
}

.file.is-info.pseudo-class-hover .file-cta {
  background-color: #276cda;
  border-color: transparent;
  color: #fff;
}

.file.is-info.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(50, 115, 220, 0.25);
          box-shadow: 0 0 0.5em rgba(50, 115, 220, 0.25);
  color: #fff;
}

.file.is-info.pseudo-class-active .file-cta {
  background-color: #2366d1;
  border-color: transparent;
  color: #fff;
}

.file.is-success.pseudo-class-hover .file-cta {
  background-color: #22c65b;
  border-color: transparent;
  color: #fff;
}

.file.is-success.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(35, 209, 96, 0.25);
          box-shadow: 0 0 0.5em rgba(35, 209, 96, 0.25);
  color: #fff;
}

.file.is-success.pseudo-class-active .file-cta {
  background-color: #20bc56;
  border-color: transparent;
  color: #fff;
}

.file.is-warning.pseudo-class-hover .file-cta {
  background-color: #ffdb4a;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.file.is-warning.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 221, 87, 0.25);
          box-shadow: 0 0 0.5em rgba(255, 221, 87, 0.25);
  color: rgba(0, 0, 0, 0.7);
}

.file.is-warning.pseudo-class-active .file-cta {
  background-color: #ffd83d;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.file.is-danger.pseudo-class-hover .file-cta {
  background-color: #ff2b56;
  border-color: transparent;
  color: #fff;
}

.file.is-danger.pseudo-class-focus .file-cta {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 56, 96, 0.25);
          box-shadow: 0 0 0.5em rgba(255, 56, 96, 0.25);
  color: #fff;
}

.file.is-danger.pseudo-class-active .file-cta {
  background-color: #ff1f4b;
  border-color: transparent;
  color: #fff;
}

.file-label.pseudo-class-hover .file-cta {
  background-color: #eeeeee;
  color: #363636;
}

.file-label.pseudo-class-hover .file-name {
  border-color: #d5d5d5;
}

.file-label.pseudo-class-active .file-cta {
  background-color: #e8e8e8;
  color: #363636;
}

.file-label.pseudo-class-active .file-name {
  border-color: #cfcfcf;
}

.file-cta.pseudo-class-focus,
.file-cta.pseudo-class-active,
.file-name.pseudo-class-focus,
.file-name.pseudo-class-active {
  outline: none;
}

.field.has-addons .control.pseudo-class-first-child .button,
.field.has-addons .control.pseudo-class-first-child .input,
.field.has-addons .control.pseudo-class-first-child .select select {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.field.has-addons .control.pseudo-class-last-child .button,
.field.has-addons .control.pseudo-class-last-child .input,
.field.has-addons .control.pseudo-class-last-child .select select {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.field.has-addons .control .button.pseudo-class-hover,
.field.has-addons .control .input.pseudo-class-hover,
.field.has-addons .control .select select.pseudo-class-hover {
  z-index: 2;
}

.field.has-addons .control .button.pseudo-class-focus,
.field.has-addons .control .button.pseudo-class-active,
.field.has-addons .control .input.pseudo-class-focus,
.field.has-addons .control .input.pseudo-class-active,
.field.has-addons .control .select select.pseudo-class-focus,
.field.has-addons .control .select select.pseudo-class-active {
  z-index: 3;
}

.field.has-addons .control .button.pseudo-class-focus.pseudo-class-hover,
.field.has-addons .control .button.is-focused.pseudo-class-hover,
.field.has-addons .control .button.pseudo-class-active.pseudo-class-hover,
.field.has-addons .control .button.is-active.pseudo-class-hover,
.field.has-addons .control .input.pseudo-class-focus.pseudo-class-hover,
.field.has-addons .control .input.is-focused.pseudo-class-hover,
.field.has-addons .control .input.pseudo-class-active.pseudo-class-hover,
.field.has-addons .control .input.is-active.pseudo-class-hover,
.field.has-addons .control .select select.pseudo-class-focus.pseudo-class-hover,
.field.has-addons .control .select select.is-focused.pseudo-class-hover,
.field.has-addons .control .select select.pseudo-class-active.pseudo-class-hover,
.field.has-addons .control .select select.is-active.pseudo-class-hover {
  z-index: 4;
}

.field.is-grouped.is-grouped-multiline > .control.pseudo-class-last-child {
  margin-bottom: 0.75rem;
}

.field.is-grouped.is-grouped-multiline.pseudo-class-last-child {
  margin-bottom: -0.75rem;
}

.control.has-icon .input.pseudo-class-focus + .icon {
  color: #7a7a7a;
}

.control.has-icons-left .input.pseudo-class-focus ~ .icon,
.control.has-icons-left .select.pseudo-class-focus ~ .icon,
.control.has-icons-right .input.pseudo-class-focus ~ .icon,
.control.has-icons-right .select.pseudo-class-focus ~ .icon {
  color: #7a7a7a;
}

.navigation li a.pseudo-class-hover {
  color: cyan;
}

.navigation li.open a.pseudo-class-hover {
  color: white;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.5);
          text-decoration-color: rgba(255, 255, 255, 0.5);
}

footer ul li a.pseudo-class-hover {
  color: #FE1135;
}

a.pseudo-class-hover {
  -webkit-text-decoration-color: rgba(54, 54, 54, 0.25);
          text-decoration-color: rgba(54, 54, 54, 0.25);
}

a.pseudo-class-focus {
  -webkit-text-decoration-color: rgba(54, 54, 54, 0.25);
          text-decoration-color: rgba(54, 54, 54, 0.25);
}

a.pseudo-class-active {
  -webkit-text-decoration-color: rgba(54, 54, 54, 0.25);
          text-decoration-color: rgba(54, 54, 54, 0.25);
}

.button.pseudo-class-hover {
  background: transparent;
  border-color: #FE1135;
  color: #FE1135;
}

.button.pseudo-class-focus {
  background: transparent;
  border-color: #FE1135;
  color: #FE1135;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(254, 17, 53, 0.25);
          text-decoration-color: rgba(254, 17, 53, 0.25);
}

.product-button.pseudo-class-hover .button {
  background: #FE1135;
  color: #FFF;
}

.product-button.pseudo-class-focus .button {
  background: #FE1135;
  color: #FFF;
  text-decoration: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

.icon-button.pseudo-class-hover,
.icon-button.pseudo-class-focus {
  text-decoration: underline;
}

.icon-button.pseudo-class-hover:before,
.icon-button.pseudo-class-focus:before {
  background: transparent;
  border-color: white;
}

.comments .comment.pseudo-class-last-child {
  border-bottom: 0;
}

.product-hero h3.pseudo-class-last-child {
  margin-bottom: 0;
}

.product-hero a.pseudo-class-hover {
  background: black;
  color: #31FEE8;
  border: solid 2px #31FEE8;
}

.content-tile a.pseudo-class-hover blockquote,
.content-tile a.pseudo-class-hover .icon,
.content-tile a.pseudo-class-hover .image:after,
.content-tile a.pseudo-class-focus blockquote,
.content-tile a.pseudo-class-focus .icon,
.content-tile a.pseudo-class-focus .image:after {
  opacity: 1;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.content-tile a.pseudo-class-hover .buttons,
.content-tile a.pseudo-class-focus .buttons {
  margin-top: 0.75rem;
  max-height: 50px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.content-tile.double .content li a.pseudo-class-hover {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.5);
          text-decoration-color: rgba(255, 255, 255, 0.5);
}

.content-tile.double .content .button.pseudo-class-hover {
  color: #FE1135;
}

.content-tile.double .content .button.pseudo-class-focus {
  color: #FE1135;
}

.content-tile.double.pseudo-class-hover img,
.content-tile.double.pseudo-class-focus img {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
  transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
  transition: filter 0.2s, transform 0.2s;
  transition: filter 0.2s, transform 0.2s, -webkit-filter 0.2s, -webkit-transform 0.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.content-tile.double.pseudo-class-hover .content,
.content-tile.double.pseudo-class-focus .content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.tri-hero .images article.pseudo-class-last-child {
  -webkit-transform: translateX(40%) rotate(25deg) scale(1.73);
      -ms-transform: translateX(40%) rotate(25deg) scale(1.73);
          transform: translateX(40%) rotate(25deg) scale(1.73);
}

.tri-hero .images article.pseudo-class-hover img {
  opacity: 0;
}